﻿@model WebSachCu.Models.Book
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<style>
    .Product_Item {
        background-color: white;
        margin: 30px;
    }

    .Product_Item_img-img {
        height: 450px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .Product_Item_detail {
        margin-bottom: 20px;
    }

    .Product_Item_detail_content-author {
        font-size: 20px;
    }

    .Product_Item_detail_content-author1 {
        font-size: 20px;
        color: #767676;
    }

    .Product_Item_detail_content-Category {
        font-size: 20px;
    }

    .Product_Item_detail_content-Category1 {
        font-size: 20px;
        color: #767676;
    }

    .Product_Item_detail_content-OldPrice {
        font-size: 18px;
        text-decoration: line-through;
        text-align: center;
        margin-top: 25px;
        color: #767676;
    }

    .Product_Item_detail_content-newPrice {
        font-size: 25px;
        color: var(--primary-color);
        text-align: center;
    }

    .Product_Item_detail_content-sale {
        font-size: 14px;
        margin-top: 30px;
        padding-top: 2px;
        background-color: var(--primary-color);
        text-align: center;
        color: var(--white-color);
        margin-bottom: 30px;
        border-radius: 5px;
    }

    .Product_Item_detail_content-decription {
        font-size: 20px;
        color: #767676;
    }

    .Product_Item_detail_content-decription1 {
        font-size: 20px;
    }

    .addCr {
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        font-size: 15px;
    }

        .addCr:hover {
            opacity: 0.8;
        }

    .buy {
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--primary-color);
        font-size: 20px;
        color: white;
        border: white
    }

        .buy:hover {
            opacity: 0.7;
        }

    .Share {
        margin-bottom: 10px;
        right: 0;
    }

    .Share_item-title {
        color: #767676;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }

    .Share_item-mxh {
        text-decoration: none;
        font-size: 30px;
        margin-left: 2px;
        margin-right: 2px;
    }

        .Share_item-mxh:hover {
            opacity: 0.7;
        }

    .face {
        color: #4267b2;
    }

    .tt {
        color: #1DA1F2;
    }

    .ig {
        color: #FF0040;
    }

    .pi {
        color: #DF3A01;
    }

    .Title-product-same {
        color: #767676;
        font-size: 25px;
        margin-top: 50px;
    }

    .home-product-background {
        background-color: white;
        margin-bottom: 30px;
    }

    .number {
        margin: 20px 0;
    }

        .number span {
            cursor: pointer;
        }

        .number input {
            width: 100px;
            height: 32px;
            border: 1px solid #ddd;
            border-radius: 4px;
            text-align: center;
            font-size: 22px;
            display: inline-block;
            vertical-align: middle;
        }

    .minus, .plus {
        width: 32px;
        height: 32px;
        background-color: #ddd;
        display: inline-block;
        border-radius: 4px;
        padding: 5px;
        vertical-align: middle;
        text-align: center;
    }
</style>
<script>
    $('.add').click(function () {
        if ($(this).prev().val() < 3) {
            $(this).prev().val(+$(this).prev().val() + 1);
        }
    });
    $('.sub').click(function () {
        if ($(this).next().val() > 1) {
            if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
        }
    });
</script>


<div class="Product  grid wide tbody">
    <div class="row Product_Item">
        <div class="Product_Item_img col m-5">
            <img src="~/assets/css/img/@Model.Images" alt="" class="Product_Item_img-img">
        </div>
        <div class="Product_Item_detail col m-7">
            <div class="Product_Item_detail_content tbody">


                <h2 class="Product_Item_detail_content-name">@Model.BookName </h2>


                <div class="Product_Item_Content_author row">
                    <p class="Product_Item_detail_content-author1 col m-3">author</p>
                    <p class="Product_Item_detail_content-author col m-8"></p>


                </div>
                <div class="Product_Item_Content_Category row">
                    <p class="Product_Item_detail_content-Category1 col m-3">Category</p>

                    <p class="Product_Item_detail_content-Category col m-8">@Model.Category</p>


                </div>
                <div class="Product_Item_detail_content-Price row">

                    <p class="Product_Item_detail_content-OldPrice m-2">@Model.OldPrice</p>
                    <p class="Product_Item_detail_content-newPrice m-3">@Model.NewPrice</p>
                    <p class="Product_Item_detail_content-sale m-2">@Model.Sale GIẢM</p>


                </div>
                <div class="Product_Item_detail-decription">
                    <p class="Product_Item_detail_content-decription">Decription</p>
                    <p class="Product_Item_detail_content-decription1 m-9">

                        @Model.Description


                    </p>
                </div>
                <div class="number">

                    <input type="number" id="1" value="1" min="1" max="3" />

                </div>
                <div class="Product_Item_Button row">
                    @if (Context.Session.GetString("customerid") == null)
                    {
                        <button class="addCr col m-3" onclick="return alert('bạn cần đăng nhập trước khi đặt hàng');"  >Thêm vào giỏ hàng</button>
                    }
                    else
                    {
                        <button class="addCr col m-3" onclick="AddToCart('@Model.BookId')">Thêm vào giỏ hàng</button>
                    }

                    <button class="buy m-3"> Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="Share  m-12">
            <div class="Share_item row">
                <p class="Share_item-title col m-2">Chia sẻ :</p>
                <div class="share_item-item col m-8">
                    <a href="https://www.facebook.com/profile.php?id=100009456864271" class="Share_item-mxh face"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="" class="Share_item-mxh ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="" class="Share_item-mxh pi"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="" class="Share_item-mxh tt"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </div>
    <h3 class="Title-product-same">Sản phẩm tương tự</h3>
    <div class="home-product home-product-background">
        <!-- grid -> row -> column -->
        <div class="row sm-gutter lll">


        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        loadData();
    });

    //loadData function
    function loadData() {
        $.ajax({
            url: "/Shop/Same",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    data += '<div class="col l-2-4 m-4 c-6">';
                    data += ' <a class="home-product-item" href="/Shop/Detail/' + item.bookId + '">';
                    data += '<div class="home-product-item__img" style="background-image: url( https://salt.tikicdn.com/media/catalog/product/l/o/lon.u547.d20160719.t163424.jpg);  "></div>';
                    //data += ' <div class="img_book" style=" width: 191px; height:230px;"><img style="width:100%;height:100%; object-fit:contain"  src="~/assets/css//img/' + item.Images + ' " /></div>';

                    data += '<h4 class="home-product-item__name">' + item.bookName + '</h4>';
                    data += '<div class="home-product-item__price">';
                    data += '<span class="home-product-item__price-old" style= "text-decoration-line:line-through  ; display: block;">' + item.oldPrice + '</span>';
                    data += '<span class="home-product-item__price-current">' + item.newPrice + '</span>';
                    data += ' </div>';
                    data += '<div class="home-product-item__aciton">';
                    data += '<span class="home-product-item__like home-product-item__like--liked">';
                    data += ' <i class="home-product-item__like-empty far fa-heart"></i>';
                    data += ' <i class="home-product-item__like-fill fas fa-heart"></i>';
                    data += '</span>';
                    data += ' <div class="home-product-item__vote">';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '<i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '</div>';
                    data += '<span class="home-product-item__sold">' + item.sale + ' đã bán</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__origin">';
                    data += '<span class="home-product-item__brand">' + item.category + '</span>';
                    data += '<span class="home-product-item__origin-name">' + item.author + '</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__favourite">';
                    data += '<i class="fas fa-check"></i>';
                    data += '<span>Yêu thích</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__sale-off">';
                    data += '<span class="home-product-item__sale-off-percent">' + item.sale + '</span>';
                    data += '<span class="home-product-item__sale-off-label">GIẢM</span>';
                    data += '</div>';
                    data += '</a>';
                    data += '</div>';
                });
                $(".lll").html(data);
            },

            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });
    }
</script>

