﻿@model List<WebSachCu.Models.Book>
@using Microsoft.AspNetCore.Mvc
@{
    ViewData["Title"] = "Index";
}

<div class="grid wide ">
    <div class="row" style="margin-top:10px">
        <div class="m-2">
            <img src="~/Book/img/thevan.jpg" style="object-fit: contain; width:100%;position: relative; left: 8px;" />
        </div>
        <div class="m-8">
            <img src="~/Book/img/banner.jpg" style="object-fit: contain; width:95% ;position: relative;left: 14px;"/>
        </div>
        <div class="m-2">
            <img src="~/Book/img/tinhyeutimthay.jpg"  style="object-fit: contain; width:106%;position: relative; right: 20px;"/>
        </div>
    </div>
    
</div>

<div class="app__container">
    <div class="grid wide">
        <div class="row app__content">
            <div class="col l-2 m-0 c-0">
                <nav class="category">
                    <h3 class="category__heading">
                        <i class="category__heading-icon fas fa-list"></i>
                        Danh mục
                    </h3>

                    <ul class="category-list">
                        
                       <li class="category-item category-item--active">
                             <a href="/Shop/Category/" class="category-item__link">Sách trẻ em</a>
                        </li>
                        <li class="category-item category-item--active">
                            <a href="#" class="category-item__link">Sách tình yêu</a>
                        </li>
                        <li class="category-item category-item--active">
                            <a href="#" class="category-item__link">Sách sức khỏe</a>
                        </li>
                        <li class="category-item category-item--active">
                            <a href="#" class="category-item__link">Sách giáo khoa</a>
                        </li>

                    </ul>
                </nav>
            </div>
            <div class="col l-10 m-12 c-12">
                <div class="home-filter hide-on-moblie-tablet">
                    <span class="home-filter__label">Sắp xếp theo</span>
                    <button class="home-filter__btn btn" onclick="location.href='/Shop/ListNew'">Phổ biến</button>
                    <button class="home-filter__btn btn" onclick="location.href='/Shop/ListNew'">Mới nhất</button>
                    <button class="home-filter__btn btn" onclick="location.href='/Shop/ListBest'">bán chạy</button>

                    <div class="select-input">
                        <span class="select-input__label">
                            Giá

                        </span>
                        <i class="fa fa-angle-down select-input__icon"></i>
                        <!-- list option -->
                        <ul class="select-input__list">
                            <li class="select-input__item">
                                <a href="" class="select-input__link">giá thấp đến cao</a>

                            </li>
                            <li class="select-input__item">

                                <a href="" class="select-input__link">giá cao đến thấp</a>
                            </li>
                        </ul>
                    </div>
                    <div class="home-filter__page">
                        <span class="home-filter__page-num">
                            <span class="home-filter__page-current">1</span>/14
                        </span>
                        <div class="home-filter__page-control">
                            <a href="" class="home-filter__page-btn home-filter__page-icon--disabled">
                                <i class="home-filter__page-icon fa fa-angle-left "></i>
                            </a>
                            <a href="" class="home-filter__page-btn">
                                <i class=" home-filter__page-icon fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
               

                <nav class="mobile-category">
                    <ul class="mobile-category__list">
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">
                                sách văn học
                            </a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">
                                sách toán học
                            </a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">
                                sách hóa học
                            </a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">
                                sách sử học
                            </a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">
                                sách tình cảm
                            </a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">
                                sách trinh thám
                            </a>
                        </li>
                        <li class="mobile-category__item">
                            <a href="" class="mobile-category__link">
                                sách văn học
                            </a>
                        </li>

                    </ul>
                </nav>
                <div class="home-product">
                    <!-- grid -> row -> column -->
                    
                    <div class="row sm-gutter  ">
                        @foreach (var item in Model)
                        {
                            <div class="col l-2-4 m-4 c-6">
                                <!-- product item -->

                                <a class="home-product-item" href="/Shop/Detail/@item.BookId">
                                    @*<div class="home-product-item__img"   ><img class="img_book" src="~/assets/img/bonong.jpg" alt="Alternate Text" /></div>*@
                                    <div class="img_book" style=" width: 191px; height:230px;"><img style="width:100%;height:100%; object-fit:contain"  src="~/assets/css//img/@item.Images" alt="Alternate Text" /></div>
                                    @*<img src="/Book/img/@item.Images" class="" alt="Alternate Text" style=" margin-left: 10px; margin-right: 10px; width: 170px; height: 250px;"/>*@
                                    <h4 class="home-product-item__name">@item.BookName</h4>
                                    <div class="home-product-item__price">
                                        <span class="home-product-item__price-old">@item.OldPrice đ</span>
                                        <span class="home-product-item__price-current">@item.NewPrice đ</span>
                                    </div>
                                    <div class="home-product-item__aciton">
                                        <span class="home-product-item__like home-product-item__like--liked">
                                            <i class="home-product-item__like-empty far fa-heart"></i>
                                            <i class="home-product-item__like-fill fas fa-heart"></i>
                                        </span>
                                        <div class="home-product-item__vote">
                                            <i class="home-product-item__vote--gold fas fa-star"></i>
                                            <i class="home-product-item__vote--gold fas fa-star"></i>
                                            <i class="home-product-item__vote--gold fas fa-star"></i>
                                            <i class="home-product-item__vote--gold fas fa-star"></i>
                                            <i class="home-product-item__vote--gold fas fa-star"></i>
                                        </div>
                                        <span class="home-product-item__sold">88 đã bán</span>
                                    </div>
                                    <div class="home-product-item__origin">
                                        <span class="home-product-item__brand">@item.Category</span>
                                        <span class="home-product-item__origin-name">@item.Author</span>
                                    </div>
                                    <div class="home-product-item__favourite ">
                                        <i class="fas fa-check"></i>
                                        <span>Yêu thích</span>
                                    </div>
                                    <div class="home-product-item__sale-off">
                                        <span class="home-product-item__sale-off-percent">10%</span>
                                        <span class="home-product-item__sale-off-label">GIẢM</span>
                                    </div>
                                </a>

                            </div>
                        }

                    </div>
                    
                    <div class="row sm-gutter tbody2 ">

                    </div>
                    
                </div>
                <ul class="pagination home-product__pagination" >
                    <li class="pagination-item">
                        <a class="pagination-item__link" href="">
                            <i class="pagination-item__icon fas fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="pagination-item pagination-item--active">
                        <a class="pagination-item__link" href="">
                            1
                        </a>
                    </li>
                    <li class="pagination-item">
                        <a class="pagination-item__link" href="">
                            2
                        </a>
                    </li>
                    <li class="pagination-item">
                        <a class="pagination-item__link" href="">
                            3
                        </a>
                    </li>
                    <li class="pagination-item">
                        <a class="pagination-item__link" href="">
                            4
                        </a>
                    </li>
                    <li class="pagination-item">
                        <a class="pagination-item__link" href="">
                            ...
                        </a>
                    </li>
                    <li class="pagination-item">
                        <a class="pagination-item__link" href="">
                            15
                        </a>
                    </li>
                    <li class="pagination-item">
                        <a class="pagination-item__link" href="">
                            <i class="pagination-item__icon fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
     
    </div>
</div>


@*<script type="text/javascript">
    $(document).ready(function () {
        loadData();
    });

    //loadData function
    function loadData() {
        $.ajax({
            url: "/Shop/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    data += '<div class="col l-2-4 m-4 c-6">';
                    data += ' <a class="home-product-item" href="/Shop/Detail/' + item.bookId + '">';
                    data += '<div class="home-product-item__img" style="background-image: url("wwwroot/Book/img/' + item.images + '");  "></div>';
                    //data += ' < img src="~/Book/img/' + item.images+ '" />'
                    data += '<h4 class="home-product-item__name">' + item.bookName + '</h4>';
                    data += '<div class="home-product-item__price">';
                    data += '<span class="home-product-item__price-old" style= "text-decoration-line:line-through  ; display: block;">' + item.oldPrice + '</span>';
                    data += '<span class="home-product-item__price-current">' + item.newPrice + '</span>';
                    data += ' </div>';
                    data += '<div class="home-product-item__aciton">';
                    data += '<span class="home-product-item__like home-product-item__like--liked">';
                    data += ' <i class="home-product-item__like-empty far fa-heart"></i>';
                    data += ' <i class="home-product-item__like-fill fas fa-heart"></i>';
                    data += '</span>';
                    data += ' <div class="home-product-item__vote">';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '<i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '</div>';
                    data += '<span class="home-product-item__sold">' + item.sale + ' đã bán</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__origin">';
                    data += '<span class="home-product-item__brand">' + item.category + '</span>';
                    data += '<span class="home-product-item__origin-name">' + item.author + '</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__favourite">';
                    data += '<i class="fas fa-check"></i>';
                    data += '<span>Yêu thích</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__sale-off">';
                    data += '<span class="home-product-item__sale-off-percent">' + item.sale + '</span>';
                    data += '<span class="home-product-item__sale-off-label">GIẢM</span>';
                    data += '</div>';
                    data += '</a>';
                    data += '</div>';
                });
                $(".tbody").html(data);
            },

            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });
        $.ajax({
            url: "/Shop/ListBest",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    data += '<div class="col l-2-4 m-4 c-6">';
                    data += ' <a class="home-product-item" href="/Shop/Detail/' + item.bookId + '">';
                    data += '<div class="home-product-item__img" style="background-image: url(/wwwroot/Book/img/' + item.images + ');  "></div>';
                    data += '<h4 class="home-product-item__name">' + item.bookName + '</h4>';
                    data += '<div class="home-product-item__price">';
                    data += '<span class="home-product-item__price-old" style= "text-decoration-line:line-through  ; display: block;">' + item.oldPrice + '</span>';
                    data += '<span class="home-product-item__price-current">' + item.newPrice + '</span>';
                    data += ' </div>';
                    data += '<div class="home-product-item__aciton">';
                    data += '<span class="home-product-item__like home-product-item__like--liked">';
                    data += ' <i class="home-product-item__like-empty far fa-heart"></i>';
                    data += ' <i class="home-product-item__like-fill fas fa-heart"></i>';
                    data += '</span>';
                    data += ' <div class="home-product-item__vote">';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '<i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '</div>';
                    data += '<span class="home-product-item__sold">' + item.sale + ' đã bán</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__origin">';
                    data += '<span class="home-product-item__brand">' + item.category + '</span>';
                    data += '<span class="home-product-item__origin-name">' + item.author + '</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__favourite">';
                    data += '<i class="fas fa-check"></i>';
                    data += '<span>Yêu thích</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__sale-off">';
                    data += '<span class="home-product-item__sale-off-percent">' + item.sale + '</span>';
                    data += '<span class="home-product-item__sale-off-label">GIẢM</span>';
                    data += '</div>';
                    data += '</a>';
                    data += '</div>';
                });
                $(".tbody2").html(data);
            },

            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });




    }












</script>*@
