.Product_Item{
    background-color: white;
    margin: 30px;
    
}

.Product_Item_img-img{
    height: 450px;
    margin-top: 20px;
    margin-left: 10px;
    
}
.Product_Item_detail{
    margin-bottom: 20px;
}
.Product_Item_detail_content-author{
    font-size: 20px;
}
.Product_Item_detail_content-author1{
    font-size: 20px;
    color:#767676;
}
.Product_Item_detail_content-Category{
    font-size: 20px;
}
.Product_Item_detail_content-Category1{
    font-size: 20px;
    color:#767676;
}
.Product_Item_detail_content-OldPrice{
    font-size: 18px;
    text-decoration: line-through;
    text-align: center;
    margin-top: 25px;
    color:#767676;
}
.Product_Item_detail_content-newPrice{
    font-size: 25px;
    color: var(--primary-color);
    text-align: center;
}
.Product_Item_detail_content-sale{
    font-size: 14px;
    margin-top: 30px;
    padding-top: 2px;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--white-color);
    margin-bottom: 30px;
    border-radius: 5px;
}
.Product_Item_detail_content-decription{
    font-size: 20px;
    color:#767676;
}
.Product_Item_detail_content-decription1{
    font-size: 20px;
}
.addCr{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-size: 15px;
}
.addCr:hover{
    opacity: 0.8;
    
}
.buy{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary-color);
    font-size: 20px;
    color: white;
    border:white
}
.buy:hover{
    opacity: 0.7;
}

.Share{
    margin-bottom: 10px;
    right: 0;
}

.Share_item-title{
    color: #767676;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
.Share_item-mxh{
    text-decoration: none;
    font-size: 30px;
    margin-left: 2px;
    margin-right: 2px;
}
.Share_item-mxh:hover{
    opacity: 0.7;
}
.face{
    color:#4267b2;
}

.tt{
    color: #1DA1F2;
}
.ig{
    color: #FF0040;
}
.pi{
    color: #DF3A01;
}