.app{
    overflow: hidden;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d );
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin: 8px 0 0 0;
    display: flex;
    justify-items: center;
}


.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.header__navbar-user-name{
    margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 500;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    position: absolute;
    padding-left:  0;
    top: 110%;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    z-index: 2;
    list-style: none;
    display: none;

}
.header__navbar-user-menu::after{
    content: "";
    position: absolute;
    right: 4px;
    top: -17px;
    border-width: 10px 11px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__navbar-user-menu::before{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 100px;
    height: 8px;
}
.header__navbar-user-item{

}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 4px 16px ;
    display: block;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}

.header__navbar-item{
    margin: 0 8px ;
    position: relative; 
} 
.header__navbar-item--has-noti:hover .header__noti{
    display: block;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
   
    
}

.header__navbar-item,
.header__navbar-item-link{
   
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300px;
}
.header__navbar-item:hover ,
.header__navbar-icon-link:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong{
    font-weight: 500;
}
.header__navbar-icon-link:nth-child(2){
    margin-left: 4px;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid  #fb9086 ;
    height: 15px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    text-decoration: none;
    color: var(--white-color);
}
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 6px;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item-link{
    display: inline-flex;
    align-items: center;
}
.header__navbar--no-poiter{
   cursor: text;
   color: var(--white-color)
}


/* Header QR code */
.header__qr{
    background-color: var(--white-color);
    width: 130px;
    position: absolute;
    left: 0;
    top: 115%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    z-index: 1;
}
.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header_qr-link:first-child(2){
    margin-right: 9px;
}
.header__qr-download-img{
    height: 14px;
}


/* Header notification */
.header__noti{
    position: absolute;
    top: 120%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3d3d3;
    cursor: default;
    transform-origin: calc(100% - 20px) top ; /* chỉnh tâm của slace*/
    animation: headerNotiframe ease-in 0.25s;
    -webkit-animation: headerNotiframe ease-in 0.25s;
    -ms-zoom-animation: headerNotiframe ease-in 0.25s;
    -o-animation: headerNotiframe ease-in 0.25s;
    -moz-animation: headerNotiframe ease-in 0.25s;
    will-change: opacity,transform;
    display: none;
    z-index: 1;
}

.header__noti::before{
    content: "";
    border-width: 20px 27px;
    border-style:   solid;
    border-color: transparent transparent var(--white-color) transparent;

    position: absolute;
    right: 12px;
    top: -27px;

}
.header__noti::after{
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    height: 20px;
    width: 90px;
}
@keyframes headerNotiframe{
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}
.header__noti-header{
    height: 40px;
    background-color: var(--white-color);

}
.header__noti-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
    
}

.header__noti-list{
    padding-left: 0;

}
.header__noti-item {
    display: flex;
    
}
.header__noti-item:hover{
    background-color: #f1f1f1;
}


.header__noti-item--viewed{
    background-color: rgba(239, 77, 45 ,0.1);
}
.header__noti-link{
    width: 100%;
    display: flex;
    padding: 12px;
    
}
.header__noti-img{
    width: 48px;
    object-fit: contain;
}
.header__noti-info{
    margin-left: 12px;
    color: #999;
}
.header__noti-name{
    display: block;
    font-size: 14px;
    color: var(--black-color);
    font-weight: 400;
    line-height: 1.8rem;
}
.header__noti-descti{
    display: block;
    font-size: 12px;
    line-height:1.6rem ;
    color: #756f6e;
}
.header__noti-footer{
    display: flex;
}
.header__noti-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 48px;
    display: block;
    margin: auto;
    font-size: 1.4rem;
    
}


/* Modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.modal__overlay{
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.modal__body{
    --growth-from:0.7;
    --growth-to:1;
    height: 500px;
    margin: auto;
    background-color: var(--white-color) ;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* auth form*/
.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
    
}
.auth-form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--black-color);
}

.auth-form--switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form{
    margin-top: 16px;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;

}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 14px 42px;
    display: flex;
    margin: 0 -32px;
    
    justify-content: space-between;
    color: var(--black-color);
    margin-top: 20px;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__controls--fb{
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form__controls--fb
.auth-form__controls--icon{
    color: var(--white-color);
}

.auth-form__controls-label{
    margin: 0 26px;
}

.auth-form__controls--gg{
    background-color: var(--white-color);
}

.auth-form--help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #939393;

}
.auth-form__help-sp{
    display: block;
    height: 22px;
    margin: 0 16px;
    border-left: 1px solid var(--boder-color);
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */
.header-with-search{
    height: var(--header-with-search-height);
    
    align-items: center;
    margin: 0 8px;
    display: flex;
}
.header__mobile-search{
    padding: 0 12px;
}
.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}
.header__logo{
    width: 200px;
}
.header__logo-link{
    text-decoration: none;
    display: block;
    line-height: 0;
}
.header__logo-img{
    width: 70px;
    display: flex;
    align-items: center;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.header__search-checkbox{
    display: none;
}
.header__search-checkbox:checked ~ .header__search{
    display: flex;
}
.header__cart{
    width: 150px;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;   
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 8px;
    z-index: 1;
}

.header__cart-list::after{
    content: "";
    position: absolute;
    right: -0px;
    top: -28px;
    border-width: 20px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 10px);
    right: -3px;
    background-color: var(--white-color);
    width: 390px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
}



.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    border-width: 400px;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item{
    display: flex;
    
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-item-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid var(--boder-color);
}
.header__cart-item-head{
    display: flex;
    margin-top: 19px;
    justify-content: space-between;
    align-items: center;
}
.header__cart-item-name{
    font-size: 14px;
    font-weight: 400;
    height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
}
.header__cart-item-price{
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-color);
    
}
.header__cart-item-x{
    font-size: 1rem;
    margin: 0 4px;
    
}
.header__cart-item-qnt{
    color: #757575;
    font-size: 1.2rem;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-decription{
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;
}
.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 400;
}
.header__cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}
.header__view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__view-cart:hover{
    background-color: #f05d41;
}

/* Header sort bar */
.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: 46px;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    padding-left: 0;
    border-top: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item:first-child{
    border-left: 1px solid rgb(233, 233, 233);
}
.header__sort-item{
    flex: 1;
    border-top: 1px solid rgb(233, 233, 233);
    border-bottom: 1px solid rgb(233, 233, 233);
    border-right:1px solid rgb(233, 233, 233); 
}
.header__sort-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
}
.header__sort-link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}
.header__sort-item--active{
    color: var(--primary-color);
}


.header__cart-img{
    width: 55%;
    display: none;

}
.header__cart-list--no-cart{
    padding-top: 23px;
    
    
}
.header__cart-list--no-cart .header__cart-img{
    display: block;
    margin-left:  auto;
    margin-right: auto;
}

.header__cart-noti{
    position: absolute;
    padding: 1px 5px;
    right: -3px;
    top: -5px;
    background-color: var(--white-color);
    color: var(--primary-color);
    line-height: 1.4rem;
    border-radius: 15px;
    font-size: 1.4rem;
    border: 2px solid #Ee4d2d;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input{
    
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 3px;
}


.header__search-selection{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}


.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #777;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 3px;
    margin-right: 3px;
    outline: none;
}
.header__search-btn:hover{
    background-color: #f38671;
    cursor: pointer;
}
.header__search-btn-icon{
    font-size: 1.5rem;
    color: var(--white-color);
}

.header__search-selection:hover .header__search-option{ 
    display: block;
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 130%;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 3px #e0e0e0;
    padding-left: 0;
    border-radius: 3px;
    overflow: hidden;
    display: none;
}

.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    top: -10px ;
    left: 0;
}
.header__search-option-item{
    background-color: var(--white-color);  
    padding: 8px 8px;
}
.header__search-option-item{
    background-color: #fafafa;
}

.header__search-option-item :first{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin: 0 0 0 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}



/* Search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px) ;
    left: 0;
    z-index: 1;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    box-shadow:  0 0 1px #999;
    border-radius: 3px;
    display: none;

}

.header__search-history-heading{
    margin:  8px 12px;
    font-size: 1.4rem;
    font-weight: 400;   
    color: #999;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
    
}
.header__search-history-item{
    height: 38px;
    padding: 0 16px;
    
    
}
.header__search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-emphasis: none;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

/* App container */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 30px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    padding: 12px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}
.category-item{
    position: relative;
    padding:3px 0 ;
}
.category-item:first-child::before{
    display: none;
}
.category-item::before{
    content: "";
    border-top: 1px solid #e1e1e1;
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
    
}

.category-item--active .category-item__link{
    
}
.category-item--active .category-item__link::before{
    content: "";
    top: 35%;
    left: 7px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50%-1px));
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    position: relative;
    display: block;
    right: 0;
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 4px 16px;
    transition: right linear 0.2s;
    
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.04);
    padding: 12px 22px;
    border-radius: 2px;
    
}

.home-filter__label{
    font-size: 1.4rem;
    color: 555;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn{
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #EEEEEE;
}
.home-filter__page-icon--disabled .home-filter__page-icon{
    color: #ccc;
}
.home-filter__page-icon--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* product item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    text-decoration: none;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.home-product-item:hover{
    transform: scale(1.04);
    transition: all 0.5s ease-in-out;
}

.home-product-item__img{
    padding-top:  100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top center;
}
.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 7px;
    height: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
}
.home-product-item__price{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.home-product-item__price-old{
    display: none;
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
    
.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__aciton{
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}
.home-product-item__like{
    font-size: 1.4rem;
}
i.home-product-item__like-fill{
    display: block;
    color: #f63d30;
}

i.home-product-item__liked .home-product-item__like-fill {
    display: inline-block;
}
i.home-product-item__liked .home-product-item__like-empty{
    display: none;
}
.home-product-item__vote{
    margin-left: auto;
    font-size: 0.8rem;
    transform: scale(0.8);
    color: #b8b5b5;
    margin: -1px 0 0 auto;
}
.home-product-item__vote--gold{
    color: var(--star-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 4px;
}
.home-product-item__origin{
    display: flex;
    justify-content: space-between;
    margin: 4px  10px 0;
    font-size: 1.3rem;
    color: #595959 ;
}
.home-product-item__brand{

}
.home-product-item__origin-name{
    margin-left: auto;
}
.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color:var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favourite span{
    color: var(--white-color);
}
.home-product-item__favourite i{
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}
.home-product-item__favourite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
    border-top: 3px solid green;
    border-left: 3px solid transparent;
}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.9);
}
.home-product-item__sale-off::before{
    content: "";
    position: absolute;
    left: 0;
    top: 36px;
    border-width: 0 20px 4px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.9);
    border-color:  transparent currentColor transparent currentColor;
}
.home-product-item__sale-off-percent{
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 3px;
    left: 7px;
}
.home-product-item__sale-off-label{
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.4rem;
    position: relative;
    top : 8px;
    left: 2px;
}
.home-product__pagination{
    margin: 48px 32px;

}

/* Mobile category */
.mobile-category{
    display: none;
}

.mobile-category__list{
    display: flex;
    list-style: none;
    max-width: 100%;
    overflow-x: auto;
    
}
.mobile-category__list::-webkit-scrollbar{
    display: none;
}
.mobile-category__item{
    flex-shrink: 0;
    margin:10px 10px;
}
.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link{
    background-color: #87afd8;
}
.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link{
    background-color: #4dbd1a;
}
.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link{
    background-color: #d1a162;
}
.mobile-category__link{
    --line-heigt: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 2rem;
    height: calc(var(--line-heigt)*2);
    overflow: hidden;
    text-align: center;
    width: 110px ;
    display: block;
    border-radius: 4px;
    font-weight: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    -webkit-tap-highlight-color: transparent;
    padding-top: 10px;
}
/* footer */
.footer{
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);

}
.footer__list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 5px 0;
    display: block;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin: -1px px 0 0;
}
.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 80px;
    height: 80px;
    border: 1px solid var(--boder-color);
}
.footer__download-app{
    flex: 1;
    margin-left: 16px;
}
.footer__download-app-img{
    height: 20px;
    padding-left: 10px;
}
.footer__download-app-link{
    text-decoration: none;
}

