:root{
    --ShoppingCart--color:rgba(255, 255, 255, 0.993);
}
.MainOrder_header{
    height: 5rem;
    background-color: var(--ShoppingCart--color);
    border-radius: 4px;
    border: rgba(224,168,0,0.4) 1px solid;
    padding-top: 15px;
    margin: 20px 5px 20px 5px;
    
}
.MainOrder_header-price{
    color: #888;
    text-transform: capitalize;
    font-size: 17px;
    text-align: center;
    
} 
.MainOrder_header-product{
    color: #888;
    text-transform: capitalize;
    font-size: 17px;
    text-align: left;
    padding-left: 80px;
   
}
.MainOrder_Product{ 
    margin: 2px 10px 2px 5px;
    background-color: var(--ShoppingCart--color);
}


.MainOrder_Product-product{ 
    background-color: var(--ShoppingCart--color);
    margin-left: 0px;
}
.MainOrder_Product--img{
   margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 130px;
    display: inline-block;
    
}
.MainOrder_Product--name{
    display: inline;
    position: absolute;
    font-size: 15px;
    margin-top: 60px;
    margin-left: 30px;

}
.MainOrder_Product--price{
    background-color: var(--ShoppingCart--color);
    font-size: 15px;
    text-align: center;
    margin-top: 60px;
    color: rgb(248, 21, 21);
}
.MainOrder_Product--quanity{
    background-color: var(--ShoppingCart--color);
    font-size: 15px;
    text-align: center;
    margin-top: 60px;
}
.footer-voucher{
    margin-top: 20px;
}
.fa-ticket{
    color: rgb(248, 21, 21);
    margin-right: 4px;
}
.Voucher{
    font-size: 15px;
    margin-top: 10px;
    text-align: center; 
    margin-bottom: 10px;
}
.Choose_Voucher{
    color: rgb(209, 20, 20);
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.Choose_Voucher:hover{
    opacity: 0.7;
    cursor: pointer;
}
.pay{
    margin-top: 10px;
    font-size: 15px;
}
.price-pay{
    display: inline-block;
    color: rgb(248, 21, 21);
}
.pay-button{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button-pay{
    width: 160px;
    height: 40px;
    background-color: rgb(248, 66, 66);
    color: white;
    border: 0px;
    font-size: 15px;
}
.button-pay:hover{
    opacity: 0.95;
    cursor: pointer;
}
.auth-form__group-infor {
    font-size: 15px;
    color: rgb(49, 45, 39);
    margin-top: 25px;
}