﻿@model WebSachCu.Models.Menu
@{
    ViewData["Title"] = "Create";
}

<div class="col-md-12">
    <!-- jquery validation -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Quick Example <small>Create Category item</small></h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="quickForm" action="/Admin/Menu/Create" method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="BookId">Menu ID</label>
                    <input type="text" asp-for="MenuId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="BookName"> Name</label>
                    <input type="text" asp-for="Name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="OldPrice">Link</label>
                    <input type="text" asp-for="Link" class="form-control">
                </div>
                <div class="form-group">
                    <label for="NewPrice">Orders</label>
                    <input type="text" asp-for="Orders" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Sale">parentId</label>
                    <input type="text" asp-for="ParentId" class="form-control">
                </div>
               
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>

        </form>
    </div>

    <div>
        <a href="/Admin/Menu/Index">Back to list</a>
    </div>
    <!-- /.card -->
</div>

