﻿@model WebSachCu.Models.Menu
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<div class="container-fluid">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- jquery validation -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Cập nhật loại sản phẩm</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form id="quickForm" action="/Admin/Menu/Edit" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="BookId">Menu ID</label>
                            <input type="text" asp-for="MenuId" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="BookName"> Name</label>
                            <input type="text" asp-for="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="OldPrice">Link</label>
                            <input type="text" asp-for="Link" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="NewPrice">Orders</label>
                            <input type="text" asp-for="Orders" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="Sale">ParentId</label>
                            <input type="text" asp-for="ParentId" class="form-control">
                        </div>
                        
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div>
                <a href="/Admin/Menu/Index">Back to list</a>
            </div>
            <!-- /.card -->
        </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</div>

