﻿@model List<WebSachCu.Models.Menu>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><a href="/Admin/Menu/Create"><i class="fas fa-plus-square"></i> Thêm mới</a></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>MenuID</th>
                                <th>Name</th>
                                <th>Link</th>
                                <th>Orders</th>
                                <th>ParentID</th>                           
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MenuId</td>
                                    <td>@item.Name</td>
                                    <td>@item.Link</td>
                                    <td>@item.Orders</td>
                                    <td>@item.ParentId</td>
                                    
                                    <td>
                                        <a href="/Admin/Menu/Edit/@item.MenuId"><i class="fas fa-edit"></i></a> |
                                        <a href="/Admin/Menu/Delete/@item.MenuId" onclick="return confirm('Bạn có chắc chắn muốn xóa?');"><i class="fas fa-trash-alt"></i></a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
