﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnWebSachCu</title>
    <link rel="stylesheet" type="text/css" href="~/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="~/jquery-3.5.1.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/main.js"></script>
</head>
<body>
    <!--Navigation -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" >
        <div class="container-fluid">
            <a href="#" class="navbar-branch">
                <img src="~/img/logo.png" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Shop" asp-action="Index">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Connect</a>
                    </li>
                    <li class="nav-item">
                        @*<a href="login.html" class="nav-link">Login</a>*@
                        <partial name="_LoginPartial.cshtml" />
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div style="margin-top: 0px">
        @RenderBody()
    </div>
    


@*<div id="footer">
    <div class="social">
        <a href="" class="ti-facebook"><i></i></a>
        <a href="" class="ti-instagram"><i></i></a>
        <a href="" class="ti-youtube"><i></i></a>
        <a href="" class="ti-pinterest"><i></i></a>
        <a href="" class="ti-twitter"><i></i></a>
        <a href="" class="ti-linkedin"><i></i></a>
    </div>
    <p class="copyright">Powered by <a href="">W3.css</a></p>
</div>*@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>