﻿@model System.Data.DataTable


@{
    ViewData["Title"] = "List of Books";
}

<div class="jumbotron">
    <h1 class="text-center">@ViewData["Title"]</h1>
</div>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                Book Name
            </th>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Price
            </th>
            <th>
                <a asp-action="AddOrEdit">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @for (var j = 0; j < Model.Rows.Count; j++)
        {
            <tr>
                <td>
                    @Model.Rows[j]["BookName"]
                </td>
                <td>
                    @Model.Rows[j]["Title"]
                </td>
                <td>
                    @Model.Rows[j]["Author"]
                </td>
                <td>
                    @Model.Rows[j]["Price"]
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@Model.Rows[j]["BookID"]">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@Model.Rows[j]["BookID"]">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>