﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<head>
    <link rel="stylesheet" href="~/img/themify-icons/themify-icons.css">
    <link href="~/css/StyleWeb.css" rel="stylesheet" />
    <link href="~/css/Shop.css" rel="stylesheet" />
</head>

<div id="main">
    <div id="slides" class="carousel slide" data-ride="carousel" >
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
            <li data-target="#slides" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner">
            <div class="slidess carousel-item active">
                <img src="~/img/4.png" style="width:100% ">
                <div class="carousel-caption" style="position: absolute; top: 50%;">
                    <h3 style="font-size: 200%; text-shadow: 2px 2px 10px #000;">Chào các bạn đã đến website</h3>
                    <h1 class="display-2" style="font-size: 400%; text-transform: uppercase; text-shadow: 5px 5px 15px #000;">Sách cũ của Thừa Tâm</h1>
                </div>
            </div>

            <div class="slidess carousel-item">
                <img  src="~/img/1.png" style="width:100%">
            </div>
            <div class="slidess carousel-item">
                <img src="~/img/2.png" style="width:100%">
            </div>
            <div class="slidess carousel-item">
                <img src="~/img/3.png" style="width:100%">
            </div>
        </div>
    </div>


    <div id="container">
        <div class="content-section" style=" width: 800px; max-width: 100%; padding: 64px 0; margin-left: auto; margin-right: auto; padding-left: 16px; padding-right: 16px;">
            <h2 class="section-heading" style="text-align: center; font-size: 40px; font-weight: 500px; letter-spacing: 4px;">About Us</h2>
            <p class="section-subheading" style="text-align: center; font-size: 20px; opacity: 0.6; font-style: italic; margin-top: 30px; margin-bottom: 30px;">Đây là website sách cũ của Thừa Tâm</p>
            <p class="about-text" style=" text-align: justify; font-size: 20px; line-height: 1.4em;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi eos voluptatum
                ea maiores voluptatibus natus nesciunt sint. Ex quos quod, expedita autem libero, voluptatem
                provident doloremque ut corrupti, voluptates itaque. Lorem, ipsum dolor sit amet
                consectetur adipisicing elit. Enim, accusamus!
            </p>
        </div>


        <div id="tour" class="tour-section">
            <div class="content-section">
                <h2 class="section-heading text-white">Shop</h2>
                <p class="section-subheading text-white">Các Shop sách cũ</p>


                <!-- Places -->
                <div class="row places-list">
                    <div class="col col-third">
                        <img src="./img/newyork.jpg" alt="" class="place-img">
                        <div class="place-body">
                            <h3 class="place-heading">Sách cũ 1</h3>
                            <p class="place-time">Bắc Ninh</p>
                            <p class="place-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                            <a href="#" class="place-buy-btn">Liên hệ</a>
                        </div>
                    </div>


                    <div class="col col-third">
                        <img src="./img/paris.jpg" alt="" class="place-img">
                        <div class="place-body">
                            <h3 class="place-heading">Sách cũ 2</h3>
                            <p class="place-time">Hà Nội</p>
                            <p class="place-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                            <a href="#" class="place-buy-btn">Liên Hệ</a>
                        </div>
                    </div>


                    <div class="col col-third">
                        <img src="./img/sanfran.jpg" alt="" class="place-img">
                        <div class="place-body">
                            <h3 class="place-heading">Sách cũ 3</h3>
                            <p class="place-time">TP HCM</p>
                            <p class="place-desc">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                            <a href="#" class="place-buy-btn">Liên Hệ</a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="map-section">
            <img src="~/img/map.jpg" alt="Map">
        </div>
    </div>


    <div id="footer">
        <div class="social">
            <a href="" class="ti-facebook"><i></i></a>
            <a href="" class="ti-instagram"><i></i></a>
            <a href="" class="ti-youtube"><i></i></a>
            <a href="" class="ti-pinterest"><i></i></a>
            <a href="" class="ti-twitter"><i></i></a>
            <a href="" class="ti-linkedin"><i></i></a>
        </div>
        <p class="copyright">Powered by <a href="">W3.css</a></p>
    </div>
</div>





