﻿
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="~/jquery-3.5.1.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/main.js"></script>
    <link rel="stylesheet" href="~/css/Shop.css">
</head>
<style>
    #hightlights {
        background-color: #e6f7ff;
    }
    #hightlights .lowsale{
        padding-left: 140px;
    }
    #hightlights .lowsale div {
        display: inline-block;
        
    }
    #left {
        padding-right: 15px;
    }
    #left .danhmuc a{
        font-size : 20px;
    }
        #left .danhmuc a:hover {
            background-color: #ff6600;
            color:#fff;
        }

        #sell {
            width: 100%;
            height: 600px;
            display: block;
            margin-top: -47px;
            padding-left: 200px;
            padding-right: 200px;
        }
    #product {
        display: inline-block;
        position: relative;
        top: 112px;
        left: -0px;
        float: right;
        width: 750px;
        margin-right: 220px;
    }
        #product .img1 img {
            width: 500px;
            display: inline-block;
            float: left;
                
        }
        #product .img2 img {
            width: 143px;
            display: inline-block;
        }
        #product .img3 img{
            width: 46%;
            display: inline-block;
        }
        #product .img4 img {
            display: inline-block;
            width: 283px;
            float: right;
            position: relative;
            top: -217px;
            left: -107px;
        }
        #product .khuyenmai {
            float: right;
            position: relative;
            left: 511px;
            top: -460px;
        }
            #product .khuyenmai img {
                width: 318px;
            }
        #product .khuyenmai a:hover {
            text-decoration: none;
        }

    

</style>

<div id="hightlights" >
    <div class="lowsale">
        @*<div id="slides" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slides" data-slide-to="0" class="active"></li>
                <li data-target="#slides" data-slide-to="1"></li>
                <li data-target="#slides" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/sieusale.jpg">
                </div>

                <div class="carousel-item">
                    <img src="~/img/tiki.jpg">
                </div>
                <div class="carousel-item">
                    <img src="~/img/tiki2.jpg">
                </div>

            </div>
        </div>*@
        <div>
            <img src="~/img/sieusale.jpg" alt="Alternate Text" />
        </div>
        <div>
            <img src="~/img/tiki.jpg" alt="Alternate Text"  />
        </div>
        <div>
            <img src="~/img/tiki2.jpg" alt="Alternate Text" />
        </div>
    </div>
</div>






<div id="container" style=" background-color: #e6f7ff; width: 100%; height: 1500px;display: block;">
   
    
   
    
    <div id="sell" style="        
">


        <div id="left" >
            <div class="danhmuc">
                <h3 style="        
                   margin-top: -35px;
                font-size: 30px;
                color: #ffcc00;
                background-color: #e6f7ff;
                ">Danh Mục</h3>
                <ul style=" margin-top: -39px;">
                    <li><a href="" class=" btn-outline-warning">Danh mục item</a></li>
                    <li><a href="" class=" btn-outline-warning">Danh mục item</a></li>
                    <li><a href="" class=" btn-outline-warning">Danh mục item</a></li>
                    <li><a href="" class=" btn-outline-warning">Danh mục item</a></li>
                </ul>
            </div>
        </div>

        <div id="product">
            <div class="img1">
                <img src="~/img/sachthang6.jpg" alt="" />
            </div>
            <div class="img2">
                <img src="~/img/Neunhuyeu.jpg" alt="Alternate Text" />
            </div>
            <div class="img3">
                <img src="/img/biasach.jpg" alt="Alternate Text" />
            </div>
            <div class="img4">
                <img src="/img/Sc.png" alt="Alternate Text" />
            </div>
            <div class="khuyenmai" >
                <a href="" style="right: -17px; position: relative; ">Khuyến mãi</a>
                <div class="container">
                    <div>
                        <img src="/img/km1.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="/img/km2.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="/img/km3.png" alt="Alternate Text" />
                    </div>
                    <div>
                        <img src="/img/km4.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <div style=" position: relative; left: 200px; width: 1px;">
        <img style=" width: 1112px;" src="/img/Scr2.png" alt="Alternate Text" />
    </div>
    
    <div id="right" style="
            background-color: #e6f7ff; 
            float: none;
        ">
        <div id="slide" class="carousel slide" data-ride="carousel" style=" background-color: #e6f7ff;">

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container mt-3">
                        <div class="d-flex align-items-center justify-content-between py-4 results">

                            <!--  <div> <span>Price: </span> <select name="price" id="price">
                                 <option value="l2h" selected>low to high</option>
                                 <option value="l2h">high to low</option>
                             </select> </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/matbiec.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Mắt Biếc</div>
                                                <div class="text-muted">140.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/khinhbi.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold"> khinh bỉ </div>
                                                <div class="text-muted">155.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/londithoi.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Lớn đi thôi</div>
                                                <div class="text-muted">130.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/doingan.jpg.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Đời ngắn </div>
                                                <div class="text-muted">153.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/nhagiakim.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Nhà giả kim</div>
                                                <div class="text-muted">250.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/songtot.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Sống tốt trời xanh</div>
                                                <div class="text-muted">150.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/dacnhantam.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Đắc nhân tâm</div>
                                                <div class="text-muted">120.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-png-images-download-wedding-bangle-ring-9.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Pearl earrings</div>
                                                <div class="text-muted">$150</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container mt-3">
                        <div class="d-flex align-items-center justify-content-between py-4 results">

                            @*<div>
                                    <span>Price: </span> <select name="price" id="price">
                                        <option value="l2h" selected>low to high</option>
                                        <option value="l2h">high to low</option>
                                    </select>
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/matbiec.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Mắt Biếc</div>
                                                <div class="text-muted">140.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/khinhbi.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold"> khinh bỉ </div>
                                                <div class="text-muted">155.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/londithoi.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Lớn đi thôi</div>
                                                <div class="text-muted">130.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/doingan.jpg.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Đời ngắn </div>
                                                <div class="text-muted">153.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/nhagiakim.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Nhà giả kim</div>
                                                <div class="text-muted">250.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/songtot.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Sống tốt trời xanh</div>
                                                <div class="text-muted">150.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/dacnhantam.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Đắc nhân tâm</div>
                                                <div class="text-muted">120.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-png-images-download-wedding-bangle-ring-9.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Pearl earrings</div>
                                                <div class="text-muted">$150</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>







                <div class="carousel-item">
                    <div class="container mt-3">
                        <div class="d-flex align-items-center justify-content-between py-4 results">

                            <!--  <div> <span>Price: </span> <select name="price" id="price">
                                 <option value="l2h" selected>low to high</option>
                                 <option value="l2h">high to low</option>
                             </select> </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/matbiec.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Mắt Biếc</div>
                                                <div class="text-muted">140.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/khinhbi.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold"> khinh bỉ </div>
                                                <div class="text-muted">155.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/londithoi.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Lớn đi thôi</div>
                                                <div class="text-muted">130.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/doingan.jpg.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Đời ngắn </div>
                                                <div class="text-muted">153.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/nhagiakim.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Nhà giả kim</div>
                                                <div class="text-muted">250.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/songtot.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Sống tốt trời xanh</div>
                                                <div class="text-muted">150.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/dacnhantam.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Đắc nhân tâm</div>
                                                <div class="text-muted">120.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-png-images-download-wedding-bangle-ring-9.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Pearl earrings</div>
                                                <div class="text-muted">$150</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="carousel-item">
                    <div class="container mt-3">
                        <div class="d-flex align-items-center justify-content-between py-4 results">

                            <!--  <div> <span>Price: </span> <select name="price" id="price">
                                 <option value="l2h" selected>low to high</option>
                                 <option value="l2h">high to low</option>
                             </select> </div> -->
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/matbiec.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Mắt Biếc</div>
                                                <div class="text-muted">140.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/khinhbi.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold"> khinh bỉ </div>
                                                <div class="text-muted">155.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/londithoi.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Lớn đi thôi</div>
                                                <div class="text-muted">130.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/doingan.jpg.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Đời ngắn </div>
                                                <div class="text-muted">153.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row py-3">
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/nhagiakim.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Nhà giả kim</div>
                                                <div class="text-muted">250.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/songtot.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Sống tốt trời xanh</div>
                                                <div class="text-muted">150.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="~/img/dacnhantam.jpg">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Đắc nhân tâm</div>
                                                <div class="text-muted">120.000</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 offset-md-0 offset-sm-1 col-sm-10 offset-sm-1 my-lg-0 my-2">
                                <div class="card">
                                    <img class="card-img-top" src="https://www.freepnglogos.com/uploads/jewellery-png/jewellery-png-images-download-wedding-bangle-ring-9.png">
                                    <div class="card-body">
                                        <div class="d-flex align-items-start justify-content-between">
                                            <div class="d-flex flex-column">
                                                <div class="h6 font-weight-bold">Pearl earrings</div>
                                                <div class="text-muted">$150</div>
                                            </div>
                                            <div class="btn"><span class="far fa-heart"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagination">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" data-target="#slide" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item" data-target="#slide" data-slide-to="0" class="active"><a class="page-link">1</a></li>
                        <li class="page-item" data-target="#slide" data-slide-to="1"><a class="page-link">2</a></li>
                        <li class="page-item" data-target="#slide" data-slide-to="2"><a class="page-link">3</a></li>
                        <li class="page-item" data-target="#slide" data-slide-to="3"><a class="page-link">4</a></li>
                        <li class="page-item">
                            <a class="page-link" data-target="#slide" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


