﻿@model WebSachCu.Models.User
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!doctype html>
<html>
<head>
    <title>Đăng nhập hệ thống = ShoppingCart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Majestic Login Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- font files -->
    <link href='//fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /font files -->
    <!-- css files -->
    <link href="~/login/css/animate-custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- /css files -->
</head>
<body>
    <h1 class="w3ls">Đăng nhập hệ thống</h1>
    <div id="container_demo">
        <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">
                <form action="/Admin/Home/Login" method="post" autocomplete="on">
                    <h2>Log in</h2>
                    <p>
                        <label for="username" class="uname" data-icon="u"><span>Tên đăng nhập</span></label>
                        <input id="username" asp-for="UserName" required="required" type="text" placeholder="Tên đăng nhập" />
                    </p>
                    <p>
                        <label for="password" class="youpasswd" data-icon="p"><span>Mật khẩu</span></label>
                        <input id="password" asp-for="Password" required="required" type="password" placeholder="Mật khẩu" />
                    </p>
                    @Html.Raw(ViewBag.error)
                    <p class="login button">
                        <input type="submit" value="Đăng nhập" />
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

