﻿body {
    /*background: #66FFCC;*/
}

#container {
   
}
.carousel-inner img {
    max-width: 100%;
    height: auto;
}

.carousel-caption {
    position: absolute;
    top: 50%;
}

.carousel-caption h1 {
        font-size: 400%;
        text-transform: uppercase;
        text-shadow: 5px 5px 15px #000;
    }

    .carousel-caption h3 {
        font-size: 200%;
        text-shadow: 2px 2px 10px #000;
    }

.btn-primary {
    background-color: rgb(82,64,120);
    border: 1px solid white;
}

    .btn-primary:hover {
        background-color: rgb(62,44,100);
        border: 1px solid white;
    }

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

.welcome hr {
    border-top: 2px solid rgba(62,44,100, 0.6);
    width: 95%;
    margin-bottom: 2rem;
}

.fa-react {
    color: #81D8F7;
}

.fa-angular {
    color: rgb(177,43,55);
}

.fa-css3 {
    color: #D76537;
}

.fa-react, .fa-angular, .fa-css3 {
    font-size: 4em;
    margin: 1rem;
}

.fun {
    width: 100%;
}

.social a {
    font-size: 3em; /*1em = 16px*/
    padding: 3rem; /*1rem = 1 "font-size" */
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-google-plus-g {
    color: #dd4b39;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}

footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
}

hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
}

.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
}
/*Media Query*/
@media (max-width: 992px) {
    .carousel-caption {
        top: 20%;
    }

        .carousel-caption h1 {
            font-size: 250%;
        }

        .carousel-caption h3 {
            font-size: 160%;
        }

        .carousel-caption .btn {
            font-size: 120%;
        }
}

@media (max-width: 768px) {
    .carousel-caption {
        top: 20%;
    }

        .carousel-caption h1 {
            font-size: 220%;
        }

        .carousel-caption h3 {
            font-size: 140%;
            padding-bottom: 0.2rem;
        }

        .carousel-caption .btn {
            font-size: 95%;
            padding: 8px 14px;
        }
}

@media (max-width: 576px) {
    .carousel-caption {
        top: 10%;
    }

        .carousel-caption h1 {
            font-size: 150%;
        }

        .carousel-caption h3 {
            font-size: 110%;
        }

        .carousel-caption .btn {
            font-size: 90%;
            padding: 4px 8px;
        }
}


#left {
    float: left;
    min-height: 400px;
    background-color: #fff;
    border-radius: 5px 5px 5px 5px;
    margin-top: 112px;
}

    #left .danhmuc ul {
     
        margin: 0px;
        padding: 0px;
    }
#left .danhmuc ul li {
        list-style: none;
        background-color: #fff;
}

#left .danhmuc h3 {
        height: 60px;
        color: #000;
        margin-top: 0px;
        text-align: center;
        background-color: #fff;
}

    #left .danhmuc ul li a {
        display: block;
        text-decoration: none;
        color: #000;
        line-height: 40px;
        border-bottom: 1px solid #ccc;
        background-color: #fff;
    }

.navbar2 {
/*    background-color: #996600 !important;*/
}

    .navbar2 li a {
        color: white !important;
    }

        .navbar2 li a:hover {
            color: black !important;
        }


/*RIGHT*/

#right {
   /* min-height: 400px;*/

}

#right {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

    #right .results {
        font-weight: 600
    }

    #right select {
        border: none;
        outline: none;
        padding: 0px 4px;
        cursor: pointer;
        background: inherit
    }

    #right .card {
        border: none;
        cursor: pointer
    }

        #right .card:hover {
            transform: scale(1.08);
            transition: all 0.4s ease-in-out
        }

    #right img {
/*        background-color: #fdf8f4;*/
        width: 150px;
        height: 220px;
        object-fit: contain;
        padding-top: 10px
    }

    #right .card-body {
        padding: 0.5rem;
        padding-top: 0.7rem;
        padding-right: 0.2rem
    }

    #right .fa-heart {
        font-size: 1.2rem
    }

    #right .h6 {
        margin: 0
    }

    #right .btn {
        padding-top: 0
    }

        #right .btn:hover {
            color: #fdaa4b
        }

    #right div.text-muted {
        font-size: 0.9rem
    }
    #right .pagination {
        text-align: center;
    }
/*#right @media(max-width:372px) {
    .results {
        font-size: 0.9rem
    }
}

#right @media(max-width:330px) {
    .results {
        font-size: 0.85rem
    }
}

#right @media(min-height: 700px) {
    body {
        height: 100vh
    }
}

#right @media(max-width:768px) {
    body {
        height: 100%
    }
}*/

#under {
    width: 100%;
    background-color: white;
}

#slides {
    margin-top: 0px;
}

#footer{
    bottom: 0px
}

