@import url('https://fonts.google.com/specimen/');

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Potta One';
	font-size: 28px;
	color: #222;
}

.navbar {
	background-color: rgba(0,0,0,0.4) !important;

}
.navbar li a {
    color: white !important;
}
.navbar li a:hover {
    color: black !important;
}
.navbar nav ul li a:before{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
/*     background: #fff;
     transform-origin: right;
     z-index: -1;
     transform: scaleX(0);
     transition:  transform 0.5s;*/
 }
/*.navbar nav ul li a:hover:before{
     transform-origin: left;
     transform: scaleX(1);
 }*/


