﻿body {
}

/* Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/*
1.từ ngoài vào trong
2.từ trên xuống dưới
3.tổng quan đến chi tiết

*/

/*
1.vị trí
2.kích thước
3.màu sắc
4.kiểu dáng
*/
/* Commom (chung) */
.clear {
    clear: both;
}

.text-white {
    color: #fff !important
}

.text-center {
    text-align: center !important
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

    .row::after {
        content: "";
        display: block;
        clear: both;
    }

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}
/* Main */


#main {
}

#header {
    width: 100%;
    height: 70px;
    background-color: #000;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
}

.nav {
    display: inline-block;
}

.nav, .navsub {
    list-style-type: none;
}

    .nav > li {
        display: inline-block;
    }

    .nav li {
        font-size: 20px;
        position: relative;
    }

        .nav li:hover > a {
            color: #000;
            background-color: #ccc;
        }

        .nav li a {
            font-size: 20px;
            color: #fff;
            display: block;
            text-decoration: none;
            line-height: 70px;
            padding: 0 30px;
        }

        .nav li:hover .navsub {
            display: block;
        }

    .nav > li > a {
        text-transform: uppercase;
    }

    .nav .navsub {
        width: 250px;
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 10px;
    }

        .nav .navsub li a {
            color: #000;
            display: block;
        }


#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    height: 70px;
}

    #header .mobile-menu-btn,
    #header .search-btn:hover {
        background-color: chocolate;
        cursor: pointer;
    }

#header .search-icon {
    font-size: 30px;
    color: blanchedalmond;
    line-height: 70px;
    padding: 30px 40px;
    box-sizing: border-box;
}


/*#slider {
    position: relative;
    margin-top: 70px;
    padding-top: 50%;
    background: url('/WebBand/img/chicago.jpg') Top center / cover no-repeat;
}

    #slider .text-content {
        position: absolute;
        color: #fff;
        right: 0;
        left: 0;
        bottom: 47px;
        text-align: center;
    }

    #slider .text-heading {
        font-weight: 500px;
        font-size: 40px;
    }

    #slider .text-decription {
        margin-top: 30px;
        font-size: 20px;
    }
*/


#container {
}

    #container .content-section {
        width: 800px;
        max-width: 100%;
        padding: 64px 0;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }

    #container .section-heading {
        text-align: center;
        font-size: 40px;
        font-weight: 500px;
        letter-spacing: 4px;
    }

    #container .section-subheading {
        text-align: center;
        font-size: 20px;
        opacity: 0.6;
        font-style: italic;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #container .about-text {
        text-align: justify;
        font-size: 20px;
        line-height: 1.4em;
    }

    #container .members-item {
        margin-top: 48px;
        text-align: center;
    }

    #container .member-name {
        padding-bottom: 20px;
    }

    #container .members-item {
    }

    #container .member-img {
        width: 154px;
        margin-top: 15px;
        border-radius: 4px;
    }
/* TOUR SECTION */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none;
}

    .tickets-list li {
        color: #757575;
        font-size: 15px;
        padding: 12px 16px;
        border-bottom: 1px solid #ddd;
    }

    .tickets-list .sold-out {
        background-color: #f44336;
        color: #fff;
        padding: 4px 4px;
        margin-left: 20px;
    }

    .tickets-list .quantyti {
        width: 24px;
        height: 24px;
        float: right;
        color: #fff;
        background-color: black;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        margin-top: -3px;
    }


/* place */
.places-list {
    margin-top: 32px;
    margin-bottom: 48px;
    padding-bottom: 48px;
}

.place-img {
    display: block;
    width: 100%;
}

    .place-img:hover {
        opacity: 0.7;
    }

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 400px;
}

.place-time {
    margin: 7px 0 7px;
    color: #757575;
}

.place-desc {
    line-height: 1.4em;
}

.place-buy-btn {
    text-decoration: none;
    color: #fff;
    background-color: black;
    margin-top: 20px;
    padding: 11px 16px;
    display: inline-block;
}

    .place-buy-btn:hover {
        background-color: #ccc;
        color: black;
    }


/* CONTACT */

.contact-content {
    margin-top: 48px;
}

.contact-infor {
    line-height: 1.4;
    font-size: 18px;
}

    .contact-infor i[class*="ti-"] {
        width: 30px;
        display: inline-block;
    }


.contact-form {
    font-size: 15px;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 16px;
    float: right;
}

    .form-submit-btn:hover {
        color: black;
        background-color: #ccc;
        cursor: pointer;
    }

/* Map section */
.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

.social {
    font-size: 9px;
}

.social a {
    text-decoration: none;
    color: rgba(0, 0n, 0, 0.6);
    opacity: 0.6;
    padding-left: 5px;
    padding-right: 5px;

}
.social a:hover {
            opacity: 0.4;
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.4);
}




