﻿
@{
    ViewData["Title"] = "OrderConfirm";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}

<style>
    .goindex:hover {
        color: #fe6433;
    }
</style>
<div class="jumbotron" style=" text-align: center;">
    <div class="container">
        <h3 style="font-size: 50px">XÁC NHẬN ĐƠN HÀNG</h3>
        <a href="" style="        text-decoration: none;
        color: #ee4d2d; font-size: 60px
"><i class="fa fa-truck" aria-hidden="true"></i></a>
        <div>
            <a class="goindex" style="text-decoration:none ;font-size:40px ; font-weight: 400" href="/Shop/Index">QUAY VỀ TRANG CHỦ</a>
        </div>
     
    </div>
</div>

