﻿@using WebSachCu.Models
@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<style>
    .model{
        display: none;
    }
</style>
<script>
    $('.add').click(function () {
        if ($(this).prev().val() < 3) {
            $(this).prev().val(+$(this).prev().val() + 1);
        }
    });
    $('.sub').click(function () {
        if ($(this).next().val() > 1) {
            if ($(this).next().val() > 1) $(this).next().val(+$(this).next().val() - 1);
        }
    });
    function openModaOrder() {
        document.getElementById("modalOrder").style.display = "flex";
    }

    function closeModalOrder() {
        document.getElementById("modalOrder").style.display = "none";
    }
    function openLoginOrder() {
        document.getElementById("orderUpdate").style.display = "block";
        document.getElementById("orderForm").style.display = "none";
    }
    function openRegisterOrder() {
        document.getElementById("orderForm").style.display = "block";
        document.getElementById("orderUpdate").style.display = "none";
    }
</script>
@{
    double tongsp = 0;
    double tongtien = 0;
    List<Cartitem> carts = (List<Cartitem>)Context.Session.Get<List<Cartitem>>("Cart");

}

    <div class="Product  grid wide">
        <div class="MainOrder">
            <div class="MainOrder_header row">
                <div class="MainOrder_header-product m-6">Sản phẩm</div>
                <div class="MainOrder_header-price m-2">Đơn Giá</div>
                <div class="MainOrder_header-price m-2">Số lượng</div>
                <div class="MainOrder_header-price m-2">Số tiền</div>
            </div>
            @if (carts != null)
            {
                foreach (var item in carts)
                {
                    <div class="MainOrder_Product row">
                        <div class="MainOrder_Product-product m-6 ">
                            <img class="MainOrder_Product--img" src="/Book/img/@item.BookOrder.Images" alt="">
                            <div class="MainOrder_Product--name m-6">@item.BookOrder.BookName</div>
                        </div>
                        <div class="MainOrder_Product--price m-2">@item.BookOrder.NewPrice</div>
                        <div class="MainOrder_Product--quanity m-2 number">

                            <input type="number" id="1" value="1" min="1" max="3" />

                        </div>
                        <div class="MainOrder_Product--price m-2">
                            @{
                                string giamoi = (string)item.BookOrder.NewPrice;
                                double gia = Convert.ToDouble(giamoi);
                                double tong = gia * item.Quantity;
                                tongtien += tong;
                                tongsp += item.Quantity;

                            }
                            @tong
                        </div>
                    </div>
                }
            }



        </div>
        <div class="MainOrder_Product footer-voucher row">
            <div class="m-6"></div>
            <div class="Voucher m-3"><i class="fa fa-ticket" aria-hidden="true"></i>Voucher</div>
            <div class="Choose_Voucher m-3">Chọn Voucher</div>
        </div>
        <div class="MainOrder_Product row">
            <div class="m-5">@DateTime.Now.ToShortDateString()</div>
            <div class="pay m-4">Tổng thanh toán(@tongsp sản phẩm): <p class="price-pay">@tongtien</p></div>
            <div class="pay-button m-3"><button class="button-pay" onclick="openModaOrder()">Thanh toán</button></div>
        </div>
    </div>

@{
Customer cus = (Customer)Context.Session.Get<Customer>("customer");
}

<div class="modal" id="modalOrder" >
    <div class="modal__overlay">

    </div>
    <div class="modal__body">
        <div class="modal__inner">
            <!-- register form -->
            <form action="/Cart/CreateOrder" method="post">
                <div class="auth-form" id="orderForm">
                    <div class="auth-form__container">
                        <div class="auth-form_header">
                            <h3 class="auth-form__heading">Thông tin khách hàng</h3>
                            <span class="auth-form--switch-btn" onclick="openLoginOrder()">cập nhận thông tin</span>
                        </div>

                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <p class="auth-form__group-infor">Họ Tên: @cus.CustomerName</p>
                            </div>
                            <div class="auth-form__group">
                                <p class="auth-form__group-infor">Địa chỉ:@cus.Address </p>
                            </div>
                            <div class="auth-form__group">
                                <p class="auth-form__group-infor">Điện thoại:@cus.Phone</p>
                            </div>
                            <div class="auth-form__group">
                                <p class="auth-form__group-infor">Ngày đặt:@DateTime.Now.ToShortDateString()</p>
                            </div>

                            <div class="auth-form__controls">
                                <button class="btn auth-form__controls-back btn--normal" onclick="closeModalOrder()">TRỞ LẠI</button>
                                <button class="btn btn--primary" onclick="location.href=''">Đồng ý Đặt Hàng</button>
                            </div>
                            <div class="auth-form__socials">
                                <a href="" class="auth-form__controls--fb btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-facebook"></i>
                                    <span class="auth-form__controls-label">Kết nối với FaceBook </span>
                                </a>
                                <a href="" class="auth-form__controls--gg btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-google"></i>
                                    <span class="auth-form__controls-label">Kết nối với Google </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="auth-form update-Address" style="display: none;" id="orderUpdate">
                <div class="auth-form__container">
                    <div class="auth-form_header">
                        <h3 class="auth-form__heading">Nhập địa chỉ mới</h3>
                        <span class="auth-form--switch-btn" onclick="openRegisterOrder()">Địa chỉ</span>
                    </div>

                    <div class="auth-form__form loginjson">

                        <form method="post" id="form_Login" role="form" action="">


                            <div class="auth-form__group">

                                <input type="text" class="auth-form__input" placeholder="Nhập Địa chỉ mới" required="required" >
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Nhập Số điện thoại" required="required" >
                            </div>


                            <div class="auth-form__aside">
                                <div class="auth-form--help">
                                    <a href="" class="auth-form__help-link -"></a>
                                    <span class="auth-form__help-sp"></span>
                                    <a href="" class="auth-form__help-link"></a>
                                </div>

                            </div>
                            <div class="auth-form__controls">
                                <button class="btn auth-form__controls-back btn--normal" onclick="closeModal()">TRỞ LẠI</button>
                                <button type="submit" class="btn btn--primary">Cập nhật</button>
                            </div>

                        </form>





                        <div class="auth-form__socials">

                            <a href="" class="auth-form__controls--fb btn btn--size-s btn--with-icon">
                                <i class="auth-form__socials-icon fab fa-facebook"></i>
                                <span class="auth-form__controls-label">Kết nối với FaceBook </span>
                            </a>
                            <a href="" class="auth-form__controls--gg btn btn--size-s btn--with-icon">
                                <i class="auth-form__socials-icon fab fa-google"></i>
                                <span class="auth-form__controls-label">Kết nối với Google </span>
                            </a>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>