﻿@model WebSachCu.Models.Book
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<style>
    .Product_Item {
        background-color: white;
        margin: 30px;
    }

    .Product_Item_img-img {
        height: 450px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .Product_Item_detail {
        margin-bottom: 20px;
    }

    .Product_Item_detail_content-author {
        font-size: 20px;
    }

    .Product_Item_detail_content-author1 {
        font-size: 20px;
        color: #767676;
    }

    .Product_Item_detail_content-Category {
        font-size: 20px;
    }

    .Product_Item_detail_content-Category1 {
        font-size: 20px;
        color: #767676;
    }

    .Product_Item_detail_content-OldPrice {
        font-size: 18px;
        text-decoration: line-through;
        text-align: center;
        margin-top: 25px;
        color: #767676;
    }

    .Product_Item_detail_content-newPrice {
        font-size: 25px;
        color: var(--primary-color);
        text-align: center;
    }

    .Product_Item_detail_content-sale {
        font-size: 14px;
        margin-top: 30px;
        padding-top: 2px;
        background-color: var(--primary-color);
        text-align: center;
        color: var(--white-color);
        margin-bottom: 30px;
        border-radius: 5px;
    }

    .Product_Item_detail_content-decription {
        font-size: 20px;
        color: #767676;
    }

    .Product_Item_detail_content-decription1 {
        font-size: 20px;
    }

    .addCr {
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        font-size: 15px;
    }

        .addCr:hover {
            opacity: 0.8;
        }

    .buy {
        margin-top: 5px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--primary-color);
        font-size: 20px;
        color: white;
        border: white
    }

        .buy:hover {
            opacity: 0.7;
        }

    .Share {
        margin-bottom: 10px;
        right: 0;
    }

    .Share_item-title {
        color: #767676;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 20px;
        text-align: center;
    }

    .Share_item-mxh {
        text-decoration: none;
        font-size: 30px;
        margin-left: 2px;
        margin-right: 2px;
    }

        .Share_item-mxh:hover {
            opacity: 0.7;
        }

    .face {
        color: #4267b2;
    }

    .tt {
        color: #1DA1F2;
    }

    .ig {
        color: #FF0040;
    }

    .pi {
        color: #DF3A01;
    }
</style>



<div class="Product  grid wide tbody">
    <div class="row Product_Item">
        <div class="Product_Item_img col m-5">
            <img src="~/Book/img/@Model.Images" alt="" class="Product_Item_img-img">
        </div>
        <div class="Product_Item_detail col m-7">
            <div class="Product_Item_detail_content tbody">


                <h2 class="Product_Item_detail_content-name">@Model.BookName </h2>


                <div class="Product_Item_Content_author row">
                    <p class="Product_Item_detail_content-author1 col m-3">author</p>
                    <p class="Product_Item_detail_content-author col m-8"></p>


                </div>
                <div class="Product_Item_Content_Category row">
                    <p class="Product_Item_detail_content-Category1 col m-3">Category</p>

                    <p class="Product_Item_detail_content-Category col m-8">@Model.Category</p>


                </div>
                <div class="Product_Item_detail_content-Price row">

                    <p class="Product_Item_detail_content-OldPrice m-2">@Model.OldPrice</p>
                    <p class="Product_Item_detail_content-newPrice m-3">@Model.NewPrice</p>
                    <p class="Product_Item_detail_content-sale m-2">@Model.Sale GIẢM</p>


                </div>
                <div class="Product_Item_detail-decription">
                    <p class="Product_Item_detail_content-decription">Decription</p>
                    <p class="Product_Item_detail_content-decription1 m-9">

                        @Model.Description


                    </p>
                </div>
                <div class="Product_Item_Button row">
                    <button class="addCr col m-3">Thêm vào giỏ hàng</button>
                    <button class="buy m-3"> Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="Share  m-12">
            <div class="Share_item row">
                <p class="Share_item-title col m-2">Chia sẻ :</p>
                <div class="share_item-item col m-8">
                    <a href="https://www.facebook.com/profile.php?id=100009456864271" class="Share_item-mxh face"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a href="" class="Share_item-mxh ig"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="" class="Share_item-mxh pi"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    <a href="" class="Share_item-mxh tt"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>

            </div>
        </div>
    </div>
</div>



