﻿@model WebSachCu.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/assets/css/base.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/gird.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"> -->
    <script src="https://kit.fontawesome.com/8d759d7b96.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">


    <style>
        .modal {
            display: none;
        }

        #Login {
            display: block;
        }

        #Register {
            display: none;
        }

        #Logined {
            display: block;
        }

        #notLogin {
            display: block;
        }
        .modal {
            display:flex;
        }
        
    </style>
    <script>







        function closeModal() {
            document.getElementById("modalLogin").style.display = "none";
        }
        function openLogin() {
            document.getElementById("modalLogin").style.display = "flex";
            document.getElementById("Login").style.display = "block";
            document.getElementById("Register").style.display = "none";
        }
        function openRegister() {
            document.getElementById("modalLogin").style.display = "flex";
            document.getElementById("Register").style.display = "block";
            document.getElementById("Login").style.display = "none";
        }

    </script>
</head>
<body>
    <!--Block Element Modifier-->
    <div class="app">
        <header class="header">
            <div class="grid wide">
                <nav class="header__navbar hide-on-moblie-tablet">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--qr header__navbar-item--separate">
                            vào cửa hàng Sách cũ bằng ứng dụng

                            <!--header QR code-->
                            <div class="header__qr">
                                <img src="~/assets/img/QRcode.png" alt="" class="header__qr-img">
                                <div class="header__qr-apps">
                                    <a class="header_qr-link">
                                        <img src="~/assets/img/appstore.png" alt="" class="header__qr-download-img">
                                    </a>
                                    <a class="header_qr-link">
                                        <img src="~/assets/img/googleplay.png" alt="" class="header__qr-download-img">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <span class="header__navbar--no-poiter">Kết nối</span>
                            <a href="" class="header__navbar-icon-link">
                                <i class="header__navbar-icon fab fa-instagram"></i>
                            </a>
                            <a href="" class="header__navbar-icon-link">
                                <i class="header__navbar-icon fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--has-noti">
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fas fa-bell"></i>
                                Thông báo
                            </a>
                            <div class="header__noti">
                                <header class="header__noti-header">
                                    <h3>Thông báo mới nhận</h3>
                                </header>
                                <ul class="header__noti-list">
                                    <li class="header__noti-item header__noti-item--viewed">
                                        <a class="header__noti-link">
                                            <span>
                                            </span> <img src="~/assets/img/Screenshot 2021-03-27 203812.png" alt="" class="header__noti-img">
                                            <div class="header__noti-info">
                                                <span class="header__noti-name">Sách cũ châu âu giảm giá còn 40% nhanh tay chọn lựa</span>
                                                <span class="header__noti-descti">mô tả</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__noti-item ">
                                        <a class="header__noti-link">
                                            <span>
                                            </span> <img src="~/assets/img/Screenshot 2021-03-27 203812.png" alt="" class="header__noti-img">
                                            <div class="header__noti-info">
                                                <span class="header__noti-name">Sách cũ châu âu</span>
                                                <span class="header__noti-descti">mô tả</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__noti-item">
                                        <a class="header__noti-link">
                                            <span>
                                            </span> <img src="~/assets/img/Screenshot 2021-03-27 203812.png" alt="" class="header__noti-img">
                                            <div class="header__noti-info">
                                                <span class="header__noti-name">Sách cũ châu âu</span>
                                                <span class="header__noti-descti">mô tả</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer class="header__noti-footer">
                                    <a href="" class="header__noti-footer-btn">Xem tất cả</a>
                                </footer>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-item-link">

                                Trợ giúp
                            </a>
                        </li>


                        <div id="notLogin">
                            <li class="header__navbar-item header__navbar-item--strong header__navbar-item--separate" onclick="openRegister()">
                                Đăng ký
                            </li>
                            <li class="header__navbar-item header__navbar-item--strong  " onclick="openLogin()">
                                Đăng nhập
                            </li>
                        </div>






                    </ul>
                </nav>

                <!-- heaeder-with-search -->
                <div class="header-with-search ">
                    <label for="mobile-search-checkbox" class="header__search-checkbox">
                        <i class="fa fa-search header__mobile-search-icon "></i>
                    </label>
                    <div class="header__logo" viewbox=" 0 0 192 65">
                        <a href="" class="header__logo-link">
                            <img class="header__logo-img" src="~/assets/img/logo.png" alt="">
                        </a>

                    </div>

                    <input type="checkbox" hidden id="mobile-search-checkbox" class="header__search-checkbox">

                    <div class="header__search ">
                        <div class="header__search-input-wrap">
                            <input type="text" class="header__search-input" placeholder="Tìm kiếm sản phẩm">

                            <!--seatch history-->
                            <div class="header__search-history">
                                <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                                <ul class="header__search-history-list">
                                    <li class="header__search-history-item">
                                        <a href="">Mắt biếc</a>
                                    </li>
                                    <li class="header__search-history-item">
                                        <a href="">Yêu </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header__search-selection">
                            <span class="header__search-select-label">Trong shop</span>
                            <i class=" header__search-select-icon fa fa-angle-down"></i>
                            <ul class="header__search-option">
                                <li class="header__search-option-item header__search-option-item--active">
                                    <span>Trong shop <i class="fa fa-check"></i></span>
                                </li>
                                <li class="header__search-option-item">
                                    <span>Ngoài shop <i class="fa fa-check"></i></span>
                                </li>
                            </ul>
                        </div>
                        <button class="header__search-btn">
                            <i class="header__search-btn-icon fa fa-search"></i>
                        </button>
                    </div>
                    <!--cart layout -->
                    <div class="header__cart">
                        <div class="header__cart-wrap">
                            <i class="header__cart-icon fa fa-shopping-cart"></i>
                            <span class="header__cart-noti">
                                0
                            </span>
                            <!--No cart:header__cart-list--no-cart -->
                            <div class="header__cart-list ">
                                <img src="assets/img/cart.png" alt="" class="header__cart-img">


                                <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                <ul class="header__cart-list-item">
                                    <li class="header__cart-item">
                                        <img src="~/assets/img/dieubimat.JPG" alt="" class="header__cart-item-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Sách cũ</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-price">2.000.000đ</span>
                                                    <span class="header__cart-item-x">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>

                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-decription">phân loại: cũ</span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="header__cart-item">
                                        <img src="~/assets/img/dieubimat.JPG" alt="" class="header__cart-item-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Sách cũ</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-price">2.000.000đ</span>
                                                    <span class="header__cart-item-x">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>

                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-decription">phân loại: cũ</span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="header__cart-item">
                                        <img src="~/assets/img/dieubimat.JPG" alt="" class="header__cart-item-img">
                                        <div class="header__cart-item-info">
                                            <div class="header__cart-item-head">
                                                <h5 class="header__cart-item-name">Sách cũ</h5>
                                                <div class="header__cart-item-price-wrap">
                                                    <span class="header__cart-item-price">2.000.000đ</span>
                                                    <span class="header__cart-item-x">x</span>
                                                    <span class="header__cart-item-qnt">2</span>
                                                </div>

                                            </div>
                                            <div class="header__cart-item-body">
                                                <span class="header__cart-item-decription">phân loại: cũ</span>
                                                <span class="header__cart-item-remove">Xóa</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <button class="header__view-cart btn btn--primary">
                                    xem giỏ hàng
                                </button>
                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <ul class="header__sort-bar">
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Liên quan</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link header__sort-item--active">Mới nhất</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Bán chạy</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Giá</a>
                </li>
            </ul>
        </header>
        <div class="app__container">
            <div class="grid wide">
                <div class="row app__content">
                    <div class="col l-2 m-0 c-0">
                        <nav class="category">
                            <h3 class="category__heading">
                                <i class="category__heading-icon fas fa-list"></i>
                                Danh mục
                            </h3>

                            <ul class="category-list">
                                <li class="category-item category-item--active">
                                    <a href="#" class="category-item__link">Sách trẻ em</a>
                                </li>
                                <li class="category-item category-item--active">
                                    <a href="#" class="category-item__link">Sách tình yêu</a>
                                </li>
                                <li class="category-item category-item--active">
                                    <a href="#" class="category-item__link">Sách sức khỏe</a>
                                </li>
                                <li class="category-item category-item--active">
                                    <a href="#" class="category-item__link">Sách giáo khoa</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col l-10 m-12 c-12">
                        <div class="home-filter hide-on-moblie-tablet">
                            <span class="home-filter__label">Sắp xếp theo</span>
                            <button class="home-filter__btn btn">Phổ biến</button>
                            <button class="home-filter__btn btn btn--primary">Mới nhất</button>
                            <button class="home-filter__btn btn">bán chạy</button>

                            <div class="select-input">
                                <span class="select-input__label">
                                    Giá

                                </span>
                                <i class="fa fa-angle-down select-input__icon"></i>
                                <!-- list option -->
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a href="" class="select-input__link">giá thấp đến cao</a>

                                    </li>
                                    <li class="select-input__item">

                                        <a href="" class="select-input__link">giá cao đến thấp</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="home-filter__page">
                                <span class="home-filter__page-num">
                                    <span class="home-filter__page-current">1</span>/14
                                </span>
                                <div class="home-filter__page-control">
                                    <a href="" class="home-filter__page-btn home-filter__page-icon--disabled">
                                        <i class="home-filter__page-icon fa fa-angle-left "></i>
                                    </a>
                                    <a href="" class="home-filter__page-btn">
                                        <i class=" home-filter__page-icon fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>


                        <nav class="mobile-category">
                            <ul class="mobile-category__list">
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">
                                        sách văn học
                                    </a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">
                                        sách toán học
                                    </a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">
                                        sách hóa học
                                    </a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">
                                        sách sử học
                                    </a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">
                                        sách tình cảm
                                    </a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">
                                        sách trinh thám
                                    </a>
                                </li>
                                <li class="mobile-category__item">
                                    <a href="" class="mobile-category__link">
                                        sách văn học
                                    </a>
                                </li>

                            </ul>
                        </nav>
                        <div class="home-product">
                            <!-- grid -> row -> column -->
                            <h3>
                                Danh Sách Sản phẩm Mới
                            </h3>
                            <div class="row sm-gutter tbody ">

                            </div>
                            <h3>
                                Danh Sách Sản phẩm bán chạy
                            </h3>
                            <div class="row sm-gutter tbody2 ">

                            </div>

                        </div>
                        <ul class="pagination home-product__pagination">
                            <li class="pagination-item">
                                <a class="pagination-item__link" href="">
                                    <i class="pagination-item__icon fas fa-angle-left"></i>
                                </a>
                            </li>
                            <li class="pagination-item pagination-item--active">
                                <a class="pagination-item__link" href="">
                                    1
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-item__link" href="">
                                    2
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-item__link" href="">
                                    3
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-item__link" href="">
                                    4
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-item__link" href="">
                                    ...
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-item__link" href="">
                                    15
                                </a>
                            </li>
                            <li class="pagination-item">
                                <a class="pagination-item__link" href="">
                                    <i class="pagination-item__icon fas fa-angle-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <footer class="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-2-4 m-3 c-6">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                                <a href="" class="footer-item__link">Sách Cũ-Shop</a>
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-3 c-6">
                        <h3 class="footer__heading">Giới  thiệu</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer-item__link">Giới thiệu</a>
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-3 c-6 hide-on-moblie-tablet">

                    </div>
                    <div class="col l-2-4 m-3 c-6">
                        <h3 class="footer__heading">Theo dõi</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer-item__link"><i class="footer-item__icon fab fa-instagram"></i>Instagram</a>
                                <a href="" class="footer-item__link"><i class="footer-item__icon fab fa-facebook"></i>Facebook</a>
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-3 c-8">
                        <h3 class="footer__heading">vào cửa hàng ứng dụng</h3>
                        <div class="footer__download">
                            <a href="" class="footer__download-app-link">
                                <img src="~/assets/img/QRcode.png" alt="" class="footer__download-qr">
                            </a>
                            <a href="" class="footer__download-app-link">
                                <div class="footer__download-apps">
                                    <img src="~/assets/img/appstore.png" alt="" class="footer__download-app-img">
                                    <img src="~/assets/img/googleplay.png" alt="" class="footer__download-app-img">
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <!--Modal-->
    <div class="modal" id="modalLogin">
        <div class="modal__overlay">

        </div>
        <div class="modal__body">
            <div class="modal__inner">
                <!-- register form -->
                <div class="auth-form" id="Register">
                    <div class="auth-form__container">
                        <div class="auth-form_header">
                            <h3 class="auth-form__heading">Đăng ký</h3>
                            <span class="auth-form--switch-btn" onclick="openLogin()">Đăng nhập</span>
                        </div>

                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Nhập email">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu">
                            </div>

                            <div class="auth-form__aside">
                                <p class="auth-form__policy-text">
                                    bằng với đăng ký , bạn đãn đồng ý chấp thuận các
                                    <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> & <a href="" class="auth-form__text-link">chính sách bảo mật</a>

                                </p>

                            </div>
                            <div class="auth-form__controls">
                                <button class="btn auth-form__controls-back btn--normal" onclick="closeModal()">TRỞ LẠI</button>
                                <button class="btn btn--primary">ĐĂNG KÝ</button>
                            </div>
                            <div class="auth-form__socials">
                                <a href="" class="auth-form__controls--fb btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-facebook"></i>
                                    <span class="auth-form__controls-label">Kết nối với FaceBook </span>
                                </a>
                                <a href="" class="auth-form__controls--gg btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-google"></i>
                                    <span class="auth-form__controls-label">Kết nối với Google </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- login form -->
                <div class="auth-form" id="Login">
                    <div class="auth-form__container">
                        <div class="auth-form_header">
                            <h3 class="auth-form__heading">Đăng Nhập</h3>
                            <span class="auth-form--switch-btn" onclick="openRegister()">Đăng Ký</span>
                        </div>

                        <div class="auth-form__form loginjson">

                            <form method="post" class="loginjson" id="form_Login" role="form" action="/Home/Login">


                                <div class="auth-form__group">

                                    <input type="text" class="auth-form__input" placeholder="Nhập email" id="username" required="required" asp-for="UserName">
                                </div>
                                <div class="auth-form__group">
                                    <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu" id="password" required="required" asp-for="Password">
                                </div>

                                @Html.Raw(ViewBag.error)
                                <div class="auth-form__aside">
                                    <div class="auth-form--help">
                                        <a href="" class="auth-form__help-link -">Quên mật khẩu</a>
                                        <span class="auth-form__help-sp"></span>
                                        <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                                    </div>

                                </div>
                                <div class="auth-form__controls">
                                    <button class="btn auth-form__controls-back btn--normal" onclick="closeModal()">TRỞ LẠI</button>
                                    <button type="submit" class="btn btn--primary">ĐĂNG NHẬP</button>
                                </div>

                            </form>





                            <div class="auth-form__socials">

                                <a href="" class="auth-form__controls--fb btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-facebook"></i>
                                    <span class="auth-form__controls-label">Kết nối với FaceBook </span>
                                </a>
                                <a href="" class="auth-form__controls--gg btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-google"></i>
                                    <span class="auth-form__controls-label">Kết nối với Google </span>
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        loadData();
    });

    //loadData function
    function loadData() {
        $.ajax({
            url: "/Shop/List",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    data += '<div class="col l-2-4 m-4 c-6">';
                    data += ' <a class="home-product-item" href="/Shop/Detail/' + item.bookId + '">';
                    data += '<div class="home-product-item__img" style="background-image: url(' + item.images + ');  "></div>';
                    data += '<h4 class="home-product-item__name">' + item.bookName + '</h4>';
                    data += '<div class="home-product-item__price">';
                    data += '<span class="home-product-item__price-old" style= "text-decoration-line:line-through  ; display: block;">' + item.oldPrice + '</span>';
                    data += '<span class="home-product-item__price-current">' + item.newPrice + '</span>';
                    data += ' </div>';
                    data += '<div class="home-product-item__aciton">';
                    data += '<span class="home-product-item__like home-product-item__like--liked">';
                    data += ' <i class="home-product-item__like-empty far fa-heart"></i>';
                    data += ' <i class="home-product-item__like-fill fas fa-heart"></i>';
                    data += '</span>';
                    data += ' <div class="home-product-item__vote">';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '<i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '</div>';
                    data += '<span class="home-product-item__sold">' + item.sale + ' đã bán</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__origin">';
                    data += '<span class="home-product-item__brand">' + item.category + '</span>';
                    data += '<span class="home-product-item__origin-name">' + item.author + '</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__favourite">';
                    data += '<i class="fas fa-check"></i>';
                    data += '<span>Yêu thích</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__sale-off">';
                    data += '<span class="home-product-item__sale-off-percent">' + item.sale + '</span>';
                    data += '<span class="home-product-item__sale-off-label">GIẢM</span>';
                    data += '</div>';
                    data += '</a>';
                    data += '</div>';
                });
                $(".tbody").html(data);
            },

            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });
        $.ajax({
            url: "/Shop/ListBest",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    data += '<div class="col l-2-4 m-4 c-6">';
                    data += ' <a class="home-product-item" href="/Shop/Detail/' + item.bookId + '">';
                    data += '<div class="home-product-item__img" style="background-image: url(' + item.images + ');  "></div>';
                    data += '<h4 class="home-product-item__name">' + item.bookName + '</h4>';
                    data += '<div class="home-product-item__price">';
                    data += '<span class="home-product-item__price-old" style= "text-decoration-line:line-through  ; display: block;">' + item.oldPrice + '</span>';
                    data += '<span class="home-product-item__price-current">' + item.newPrice + '</span>';
                    data += ' </div>';
                    data += '<div class="home-product-item__aciton">';
                    data += '<span class="home-product-item__like home-product-item__like--liked">';
                    data += ' <i class="home-product-item__like-empty far fa-heart"></i>';
                    data += ' <i class="home-product-item__like-fill fas fa-heart"></i>';
                    data += '</span>';
                    data += ' <div class="home-product-item__vote">';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '<i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += ' <i class="home-product-item__vote--gold fas fa-star"></i>';
                    data += '</div>';
                    data += '<span class="home-product-item__sold">' + item.sale + ' đã bán</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__origin">';
                    data += '<span class="home-product-item__brand">' + item.category + '</span>';
                    data += '<span class="home-product-item__origin-name">' + item.author + '</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__favourite">';
                    data += '<i class="fas fa-check"></i>';
                    data += '<span>Yêu thích</span>';
                    data += '</div>';
                    data += '<div class="home-product-item__sale-off">';
                    data += '<span class="home-product-item__sale-off-percent">' + item.sale + '</span>';
                    data += '<span class="home-product-item__sale-off-label">GIẢM</span>';
                    data += '</div>';
                    data += '</a>';
                    data += '</div>';
                });
                $(".tbody2").html(data);
            },

            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });




    }












</script>

</html>