﻿@using WebSachCu.Models
@model List<Menu>
@{
    foreach (var item in Model.Where(x => x.ParentId == 0).GroupBy(x => new { x.MenuId }).Distinct().ToList())
    {
        <ul class="category-list">
            <li class="category-item category-item--active">
                <a href="@item.FirstOrDefault().Link" class="category-item__link">@item.FirstOrDefault().Name</a>
                <div class="dropdown-menu-right">
                    @foreach (var subitem in Model.Where(x=>x.ParentId==item.FirstOrDefault().MenuId).ToList())
                    {
                    <a href="@subitem.Link" class="category-item__link">@subitem.Name</a>
                    }
                </div>
            </li>
           
        </ul>
    }
}
