﻿@model WebSachCu.Models.Order
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><button class="btn btn--primary" data-toggle="modal" data-target="#myModal"> Thêm mới </button> </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>OderId</th>
                                <th>CustomerID</th>
                                <th>ToralMoney</th>
                                <th>Payment</th>
                                <th>DateOder</th>
                                <th>Note</th>

                            </tr>
                        </thead>
                        <tbody class="tbody">
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- MODAL HEADER-->
            <div class="modal-header">
                <h4>Cập nhật nhà cung cấp</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <label>OderId</label>
                            <input type="text" asp-for="OrderId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Customerid</label>
                            <input type="text" asp-for="CustomerId" class="form-control" />
                        </div>


                    </div>

                    <div class="row mt-2">
                        <div class="form-group">
                            <label>Payment</label>
                            <input type="text" asp-for="Payment" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Date Order</label>
                            <input type="text" asp-for="DateOrder" class="form-control" />
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="form-group">
                            <label>Toral Money</label>
                            <input type="text" asp-for="TotalMoney" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Note</label>
                            <input type="text" asp-for="Note" class="form-control" />
                        </div>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" id="btnAdd" onclick="return Add();">Thêm</button>
                <button class="btn btn-success" id="btnUpdate" onclick="return Update();" style="display: none;">Cập nhật</button>
                <button class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () { 
        loadData();
    });

    //loadData function
    function loadData() {
        $.ajax({
            url: "/Admin/Oder/list",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var data = '';
                $.each(result, function (key, item) {
                    data += '<tr>';
                    data += '<td>' + item.orderId + '</td>';
                    data += '<td>' + item.customerId + '</td>';
                    data += '<td>' + item.totalMoney + '</td>';
                    data += '<td>' + item.payment + '</td>';
                    data += '<td>' + item.dateOrder + '</td>';
                    data += '<td>' + item.note + '</td>';
                    data += '<td><a href="#" onclick ="return GetById(' + item.orderId + ');">Sửa</a> | <a href="#" onclick= "return Delete(' + item.orderId +')"> xóa </a> </td > ';           
                    data += '</tr>';
                });
                $(".tbody").html(data);
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });

    }



    function Add() {

        // lấy các giá trị trong textbox
        var objOrder = {
            OrderId: parseInt($("#OrderId").val()),
            CustomerId: $("#CustomerId").val(),
            TotalMoney: ("#TotalMoney").val(),
            Payment: $("#Payment").val(),
            DateOrder: $("#DateOrder").val(),
            Note: $("#Note").val()
        };
        $.ajax({
            url: "/Admin/Oder/Create",
            data: JSON.stringify(objOrder),
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            type: "POST",
            traditional: true,
            success: function (result) {
                loadData();
                //Ẩn modal
                $("#myModal").modal('hide');
            },
            error: function (errorMessage) {
                alert(errorMessage.responseText);
            }
        });
    }


    function GetById(id) {
        $.ajax({
            url: "/Admin/Oder/GetById",
            data: { id: id },
            type: 'GET',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                $("#OrderId").val(result.orderId);
                $("#CustomerId").val(result.customerId);
                $("#TotalMoney").val(result.totalMoney);
                $("#Payment").val(result.payment);
                $("#DateOrder").val(result.dateOrder);
                $("#Note").val(result.note);

                //Hiển thị modal
                $("#myModal").modal('show');

                // ẩn btnAdd
                $("#btnAdd").hide();
                //hiển thị btnUpdate
                $("#btnUpdate").show();

            }
        })
    }

    function Update() {
        // lấy các giá trị trong textbox
        var objOrder = {
            OrderId: parseInt($("#OrderId").val()),
            CustomerId: parseInt($("#CustomerId").val()),
            TotalMoney: parseFloat($("#TotalMoney").val()),
            Payment: $("#Payment").val(),
            DateOrder: $("#DateOrder").val(),
            Note: $("#Note").val()
        };

        $.ajax({
            url: "/Admin/Oder/Update",
            data: JSON.stringify(objOrder),
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json;charset=utf-8',
            success: function (result) {
                loadData();
                // ẩn modal
                $("#myModal").modal('hide');
                //reset textbox
                $("#OrderId").val("");
                $("#CustomerId").val("");
                $("#TotalMoney").val("");
                $("#Payment").val("");
                $("#DateOrder").val("");
                $("#Note").val("");
            }
        });
    }

    function Delete(id) {
        var ans = confirm("bạn có chắc chắn muốn xóa ?");
        if (ans) {
            $.ajax({
                url: "/Admin/Oder/Delete",
                data: { id: id },
                type: 'GET',
                contentType: 'application;charset=utf-8',
                dataType: 'json',
                success: function (result) {
                    loadData();
                },
                error: function (errorMessage) {
                    alert(errorMessage.responseText);

                }
            });
        }
    }
</script>