﻿@model WebSachCu.Models.Book
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create</h1>

<div class="col-md-12">
    <!-- jquery validation -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Quick Example <small>Create Product item</small></h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form id="quickForm" action="/Admin/Book/Create"  method="post">
            <div class="card-body">
                <div class="form-group">
                    <label for="BookId">Book ID</label>
                    <input type="text" asp-for="BookId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="BookName">Book Name</label>
                    <input type="text" asp-for="BookName" class="form-control">
                </div>
                <div class="form-group">
                    <label for="OldPrice">Old Price</label>
                    <input type="text" asp-for="OldPrice" class="form-control">
                </div>
                <div class="form-group">
                    <label for="NewPrice">New Price</label>
                    <input type="text" asp-for="NewPrice" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Sale">Sale</label>
                    <input type="text" asp-for="Sale" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Images">Images</label>
                    <input type="text" asp-for="Images" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Description">Description</label>
                    <input type="text" asp-for="Description" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Category">Category</label>
                    <input type="text" asp-for="Category" class="form-control">
                </div>
                <div class="form-group">
                    <label for="Author">Author</label>
                    <input type="text" asp-for="Author" class="form-control">
                </div>
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>

        </form>
    </div>

    <div>
        <a href="/Admin/Book/Index">Back to list</a>
    </div>
    <!-- /.card -->
</div>