﻿@model List<WebSachCu.Models.Book>
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><a href="/Admin/Book/Create"><i class="fas fa-plus-square"></i> Thêm mới</a></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>BookId</th>
                                <th>BookName</th>
                                <th>OldPrice</th>
                                <th>NewPrice</th>
                                <th>Sale</th>
                                <th>Images</th>
                                <th>Category</th>
                                <th>Decription</th>
                                <th>Author</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>@item.BookId</td>
                                <td>@item.BookName</td>
                                <td>@item.OldPrice</td>
                                <td>@item.NewPrice</td>
                                <td>@item.Sale</td>
                                <td>@item.Images</td>
                                <td>@item.Category</td>
                                <td>@item.Description</td>
                                <td>@item.Author</td>
                                <td>
                                    <a href="/Admin/Book/Edit/@item.BookId"><i class="fas fa-edit"></i></a> |
                                    <a href="/Admin/Book/Delete/@item.BookId" onclick="return confirm('Bạn có chắc chắn muốn xóa?');"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                           
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->