﻿
@using WebSachCu.Models
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="~/assets/css/base.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/gird.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link href="~/assets/css/ShoppingCart.css" rel="stylesheet" />

    <!-- jQuery UI 1.11.4 -->
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css"> -->
    <script src="https://kit.fontawesome.com/8d759d7b96.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>
    <style>
        .home-filter__btn:hover {
            color: var(--white-color);
            background-color: var(--primary-color);
        }

       

        #Login {
            display: none;
        }

        #Register {
            display: none;
        }

        #Logined {
            display: block;
        }

        #notLogin {
            display: block;
        }
    </style>
    <script>






        function openUser() {
            document.getElementById("modalUser").style.display = "flex";
            document.getElementById("ShowUser").style.display = "block";
        }
        function closeModal() {
            document.getElementById("modalLogin").style.display = "none";
        }
        function openLogin() {
            document.getElementById("modalLogin").style.display = "flex";
            document.getElementById("Login").style.display = "block";
            document.getElementById("Register").style.display = "none";
        }
        function openRegister() {
            document.getElementById("modalLogin").style.display = "flex";
            document.getElementById("Register").style.display = "block";
            document.getElementById("Login").style.display = "none";
        }

    </script>
</head>
<body>
    <!--Block Element Modifier-->
    <div class="app" style=" background-color: aliceblue">
        <header class="header">
            <div class="grid wide">
                <nav class="header__navbar hide-on-moblie-tablet">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--qr header__navbar-item--separate">
                            vào cửa hàng Sách cũ bằng ứng dụng

                            <!--header QR code-->
                            <div class="header__qr">
                                <img src="~/assets/img/QRcode.png" alt="" class="header__qr-img">
                                <div class="header__qr-apps">
                                    <a class="header_qr-link">
                                        <img src="~/assets/img/appstore.png" alt="" class="header__qr-download-img">
                                    </a>
                                    <a class="header_qr-link">
                                        <img src="~/assets/img/googleplay.png" alt="" class="header__qr-download-img">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <span class="header__navbar--no-poiter">Kết nối</span>
                            <a href="" class="header__navbar-icon-link">
                                <i class="header__navbar-icon fab fa-instagram"></i>
                            </a>
                            <a href="" class="header__navbar-icon-link">
                                <i class="header__navbar-icon fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--has-noti">
                            <a href="" class="header__navbar-item-link">
                                <i class="header__navbar-icon fas fa-bell"></i>
                                Thông báo
                            </a>
                            <div class="header__noti">
                                <header class="header__noti-header">
                                    <h3>Thông báo mới nhận</h3>
                                </header>
                                <ul class="header__noti-list">
                               
                                        <li class="header__noti-item header__noti-item--viewed">
                                            <a class="header__noti-link">
                                                <span>
                                                </span> <img src="~/assets/img/Screenshot 2021-03-27 203812.png" alt="" class="header__noti-img">
                                                <div class="header__noti-info">
                                                    <span class="header__noti-name">Sách cũ châu âu giảm giá còn 40% nhanh tay chọn lựa</span>
                                                    <span class="header__noti-descti">mô tả</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="header__noti-item ">
                                            <a class="header__noti-link">
                                                <span>
                                                </span> <img src="~/assets/img/Screenshot 2021-03-27 203812.png" alt="" class="header__noti-img">
                                                <div class="header__noti-info">
                                                    <span class="header__noti-name">Sách cũ châu âu</span>
                                                    <span class="header__noti-descti">mô tả</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="header__noti-item">
                                            <a class="header__noti-link">
                                                <span>
                                                </span> <img src="~/assets/img/Screenshot 2021-03-27 203812.png" alt="" class="header__noti-img">
                                                <div class="header__noti-info">
                                                    <span class="header__noti-name">Sách cũ châu âu</span>
                                                    <span class="header__noti-descti">mô tả</span>
                                                </div>
                                            </a>
                                        </li>
                                    

                                </ul>
                                <footer class="header__noti-footer">
                                    <a href="" class="header__noti-footer-btn">Xem tất cả</a>
                                </footer>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <a href="/Shop/index" class="header__navbar-item-link">

                                Trang chủ
                            </a>
                        </li>

                        @{
                            if (Context.Session.GetString("Userid") != null)
                            {
                                <li class="header__navbar-item header__navbar-user" id="Logined ">
                                    <img src="~/assets/img/avatar.jpg" alt="" class="header__navbar-user-img">
                                    <span class="header__navbar-user-name">Thừa Tâm</span>
                                    <ul class="header__navbar-user-menu">
                                        <li class="header__navbar-user-item">
                                            <a href="">Thông tin tài khoản</a>
                                        </li>
                                        <li class="header__navbar-user-item">
                                            <a href="/Admin/Book/Index">vào trang quản trị </a>
                                        </li>
                                        <li class="header__navbar-user-item">
                                            <a href="">Địa chỉ</a>
                                        </li>
                                        <li class="header__navbar-user-item">
                                            <a href="">Đơn mua</a>
                                        </li>
                                        <li class="header__navbar-user-item">
                                            <a href="/Home/Logout">Đăng xuất</a>
                                        </li>
                                    </ul>
                                </li>
                            }

                            if (Context.Session.GetString("customerid") != null)
                            {
                                <li class="header__navbar-item header__navbar-user" id="Logined ">
                                    <img src="~/Book/img/avt.jpg" alt="" class="header__navbar-user-img">
                                    <span class="header__navbar-user-name">thuatam</span>
                                    <ul class="header__navbar-user-menu">
                                        <li class="header__navbar-user-item" >
                                            <a href="" >Thông tin tài khoản</a>
                                        </li>

                                        <li class="header__navbar-user-item">
                                            <a href="">Địa chỉ</a>
                                        </li>
                                        <li class="header__navbar-user-item">
                                            <a href="">Đơn mua</a>
                                        </li>
                                        <li class="header__navbar-user-item">
                                            <a href="/Home/Logout">Đăng xuất</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            if (Context.Session.GetString("customerid") == null && Context.Session.GetString("Userid") == null)
                            {

                                <div id="notLogin">
                                    <li class="header__navbar-item header__navbar-item--strong header__navbar-item--separate" onclick="openRegister()">
                                        Đăng ký
                                    </li>
                                    <li class="header__navbar-item header__navbar-item--strong " onclick="openLogin()">
                                        @*<a href="" onclick="openRegister()" style=" font-weight: 500; text-decoration: none; color: white;">Đăng nhập</a>*@
                                        Đăng nhập
                                    </li>
                                </div>
                            }
                        }




                    </ul>
                </nav>

                <!-- heaeder-with-search -->
                <div class="header-with-search ">
                    <label for="mobile-search-checkbox" class="header__search-checkbox">
                        <i class="fa fa-search header__mobile-search-icon "></i>
                    </label>
                    <div class="header__logo" viewbox=" 0 0 192 65">
                        <a href="/Shop/Index" class="header__logo-link">
                            <img class="header__logo-img" src="~/assets/img/logo.png">
                        </a>

                    </div>

                    <input type="checkbox" hidden id="mobile-search-checkbox " class="header__search-checkbox">

                    <div class="header__search ">
                        <div class="header__search-input-wrap">
                            <input type="text" class="header__search-input" id="txtSearch" placeholder="Tìm kiếm sản phẩm">

                            <!--seatch history-->
                            <div class="header__search-history">
                                <h3 class="header__search-history-heading">Lịch sử tìm kiếm</h3>
                                <ul class="header__search-history-list">
                                    <li class="header__search-history-item">
                                        <a href="">Mắt biếc</a>
                                    </li>
                                    <li class="header__search-history-item">
                                        <a href="">Yêu </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header__search-selection">
                            <span class="header__search-select-label">Trong shop</span>
                            <i class=" header__search-select-icon fa fa-angle-down"></i>
                            <ul class="header__search-option">
                                <li class="header__search-option-item header__search-option-item--active">
                                    <span>Trong shop <i class="fa fa-check"></i></span>
                                </li>
                                <li class="header__search-option-item">
                                    <span>Ngoài shop <i class="fa fa-check"></i></span>
                                </li>
                            </ul>
                        </div>
                        <button class="header__search-btn" id="btnSearch">
                            <i class="header__search-btn-icon fa fa-search"></i>
                        </button>
                    </div>
                    <!--cart layout -->

                    <div class="header__cart">
                        <div class="header__cart-wrap">
                            <i class="header__cart-icon fa fa-shopping-cart"></i>
                            <span class="header__cart-noti">
                                0
                            </span>
                            <!--No cart:header__cart-list--no-cart -->
                            <div class="header__cart-list ">
                                <img src="assets/img/cart.png" alt="" class="header__cart-img">

                                @{
                                    List<Cartitem> carts = (List<Cartitem>)Context.Session.Get<List<Cartitem>>("Cart");
                                }
                                <h4 class="header__cart-heading">Sản phẩm đã thêm</h4>
                                <ul class="header__cart-list-item">

                                    @if (carts != null)
                                    {
                                        foreach (var item in carts)
                                        {
                                            <li class="header__cart-item">
                                                <img src="/Book/img/@item.BookOrder.Images" alt="" class="header__cart-item-img">
                                                <div class="header__cart-item-info">
                                                    <div class="header__cart-item-head">
                                                        <h5 class="header__cart-item-name">@item.BookOrder.BookName</h5>
                                                        <div class="header__cart-item-price-wrap">
                                                            <span class="header__cart-item-price">@item.BookOrder.NewPrice</span>
                                                            <span class="header__cart-item-x">x</span>
                                                            <span class="header__cart-item-qnt">@item.BookOrder.Sale</span>
                                                        </div>

                                                    </div>
                                                    <div class="header__cart-item-body">
                                                        <span class="header__cart-item-decription">phân loại: cũ</span>
                                                        <span class="header__cart-item-remove">Xóa</span>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }



                                </ul>
                                @if (Context.Session.GetString("customerid") != null)
                                {
                                    <button class="header__view-cart btn btn--primary" onclick="location.href='/Cart/ShoppingCart'">
                                        xem giỏ hàng
                                    </button>
                                }
                                else
                                {
                                    <button class="header__view-cart btn btn--primary" onclick="return alert('bạn cần đăng nhập để có thể xem giỏ hàng')">
                                        xem giỏ hàng
                                    </button>
                                }

                            </div>
                        </div>


                    </div>
                </div>


            </div>
            <ul class="header__sort-bar">
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Liên quan</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link header__sort-item--active">Mới nhất</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Bán chạy</a>
                </li>
                <li class="header__sort-item">
                    <a href="" class="header__sort-link">Giá</a>
                </li>
            </ul>
        </header>
        @RenderBody();
        <footer class="footer">
            <div class="grid wide">
                <div class="row">
                    <div class="col l-2-4 m-3 c-6">
                        <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer-item__link">Trung Tâm Trợ Giúp</a>
                                <a href="" class="footer-item__link">Sách Cũ-Shop</a>
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-3 c-6">
                        <h3 class="footer__heading">Giới  thiệu</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer-item__link">Giới thiệu</a>
                                <a href="" class="footer-item__link">Tuyển dụng</a>
                                <a href="" class="footer-item__link">Điều khoản</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-3 c-6 hide-on-moblie-tablet">

                    </div>
                    <div class="col l-2-4 m-3 c-6">
                        <h3 class="footer__heading">Theo dõi</h3>
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="" class="footer-item__link"><i class="footer-item__icon fab fa-instagram"></i>Instagram</a>
                                <a href="" class="footer-item__link"><i class="footer-item__icon fab fa-facebook"></i>Facebook</a>
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l-2-4 m-3 c-8">
                        <h3 class="footer__heading">vào cửa hàng ứng dụng</h3>
                        <div class="footer__download">
                            <a href="" class="footer__download-app-link">
                                <img src="~/assets/img/QRcode.png" alt="" class="footer__download-qr">
                            </a>
                            <a href="" class="footer__download-app-link">
                                <div class="footer__download-apps">
                                    <img src="~/assets/img/appstore.png" alt="" class="footer__download-app-img">
                                    <img src="~/assets/img/googleplay.png" alt="" class="footer__download-app-img">
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <!--Modal-->
    <div class="modal" id="modalLogin">
        <div class="modal__overlay">

        </div>
        <div class="modal__body">
            <div class="modal__inner">
                <!-- register form -->
                <div class="auth-form" id="Register">
                    <div class="auth-form__container">
                        <div class="auth-form_header">
                            <h3 class="auth-form__heading">Đăng ký</h3>
                            <span class="auth-form--switch-btn" onclick="openLogin()">Đăng nhập</span>
                        </div>

                        <div class="auth-form__form">
                            <div class="auth-form__group">
                                <input type="text" class="auth-form__input" placeholder="Nhập email">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Nhập mật khẩu">
                            </div>
                            <div class="auth-form__group">
                                <input type="password" class="auth-form__input" placeholder="Nhập lại mật khẩu">
                            </div>

                            <div class="auth-form__aside">
                                <p class="auth-form__policy-text">
                                    bằng với đăng ký , bạn đãn đồng ý chấp thuận các
                                    <a href="" class="auth-form__text-link">Điều khoản dịch vụ</a> & <a href="" class="auth-form__text-link">chính sách bảo mật</a>

                                </p>

                            </div>
                            <div class="auth-form__controls">
                                <button class="btn auth-form__controls-back btn--normal" onclick="closeModal()">TRỞ LẠI</button>
                                <button class="btn btn--primary">ĐĂNG KÝ</button>
                            </div>
                            <div class="auth-form__socials">
                                <a href="" class="auth-form__controls--fb btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-facebook"></i>
                                    <span class="auth-form__controls-label">Kết nối với FaceBook </span>
                                </a>
                                <a href="" class="auth-form__controls--gg btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-google"></i>
                                    <span class="auth-form__controls-label">Kết nối với Google </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="auth-form" id="Login">
                    <div class="auth-form__container">
                        <div class="auth-form_header">
                            <h3 class="auth-form__heading">Đăng Nhập</h3>
                            <span class="auth-form--switch-btn" onclick="openRegister()">Đăng Ký</span>
                        </div>

                        <div class="auth-form__form loginjson">

                            <form method="post" class="loginjson" id="form_Login" role="form" action="/Home/Login">


                                <div class="auth-form__group">

                                    <input type="text" class="auth-form__input" name="username" placeholder="Nhập email" id="username" required="required">
                                </div>
                                <div class="auth-form__group">
                                    <input type="password" class="auth-form__input" name="password" placeholder="Nhập mật khẩu" id="password" required="required">
                                </div>

                                @Html.Raw(ViewBag.error)
                                <div class="auth-form__aside">
                                    <div class="auth-form--help">
                                        <a href="" class="auth-form__help-link -">Quên mật khẩu</a>
                                        <span class="auth-form__help-sp"></span>
                                        <a href="" class="auth-form__help-link">Cần trợ giúp?</a>
                                    </div>

                                </div>
                                <div class="auth-form__controls">
                                    <button class="btn auth-form__controls-back btn--normal" onclick="closeModal()">TRỞ LẠI</button>
                                    <button type="submit" class="btn btn--primary" onclick="">ĐĂNG NHẬP</button>
                                </div>

                            </form>





                            <div class="auth-form__socials">

                                <a href="" class="auth-form__controls--fb btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-facebook"></i>
                                    <span class="auth-form__controls-label">Kết nối với FaceBook </span>
                                </a>
                                <a href="" class="auth-form__controls--gg btn btn--size-s btn--with-icon">
                                    <i class="auth-form__socials-icon fab fa-google"></i>
                                    <span class="auth-form__controls-label">Kết nối với Google </span>
                                </a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    <script>
        function AddToCart(Productid) {
            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                data: { id: Productid },
                success: function (result) {
                    $(".header__cart-noti").html(result.total);
                }
            });
        }

        $('#btnSearch').on('click', function () {
            var giatrinhap = $('#txtSearch').val();
            window.location.href = "/Product/SreachByName?name=" + giatrinhap;
        });
    </script>
</body>

</html>
